# Import Libraries

In [1]:
import pandas as pd
import numpy as np
from datetime import date

In [2]:
TRAIN = '/media/maria/2TB Monster driv/PrecisionFDA/train/'
TEST = '/media/maria/2TB Monster driv/PrecisionFDA/test/'

In [3]:
pd.options.mode.chained_assignment = None  # default='warn'

# Read Data

## Read Train Data

In [4]:
allergies = pd.read_csv(TRAIN + 'allergies.csv')

In [5]:
careplans = pd.read_csv(TRAIN + 'careplans.csv')

In [6]:
conditions = pd.read_csv(TRAIN + 'conditions.csv')

In [7]:
devices = pd.read_csv(TRAIN + 'devices.csv')

In [8]:
encounters = pd.read_csv(TRAIN + 'encounters.csv')

In [9]:
imaging_studies = pd.read_csv(TRAIN + 'imaging_studies.csv')

In [10]:
immunizations = pd.read_csv(TRAIN + 'immunizations.csv')

In [11]:
medications = pd.read_csv(TRAIN + 'medications.csv')

In [12]:
observations = pd.read_csv(TRAIN + 'observations.csv')

In [13]:
organizations = pd.read_csv(TRAIN + 'organizations.csv')

In [14]:
patients = pd.read_csv(TRAIN + 'patients.csv')

In [15]:
payers = pd.read_csv(TRAIN + 'payers.csv')

In [16]:
payer_transitions = pd.read_csv(TRAIN + 'payer_transitions.csv')

In [17]:
procedures = pd.read_csv(TRAIN + 'procedures.csv')

In [18]:
providers = pd.read_csv(TRAIN + 'providers.csv')

In [19]:
supplies = pd.read_csv(TRAIN + 'supplies.csv')

## Read Test Data

In [20]:
allergies_t = pd.read_csv(TEST + 'allergies.csv')

In [21]:
careplans_t = pd.read_csv(TEST + 'careplans.csv')

In [22]:
conditions_t = pd.read_csv(TEST + 'conditions.csv')

In [23]:
devices_t = pd.read_csv(TEST + 'devices.csv')

In [24]:
encounters_t = pd.read_csv(TEST + 'encounters.csv')

In [25]:
imaging_studies_t = pd.read_csv(TEST + 'imaging_studies.csv')

In [26]:
immunizations_t = pd.read_csv(TEST + 'immunizations.csv')

In [27]:
medications_t = pd.read_csv(TEST + 'medications.csv')

In [28]:
observations_t = pd.read_csv(TEST + 'observations.csv')

In [29]:
organizations_t = pd.read_csv(TEST + 'organizations.csv')

In [30]:
patients_t = pd.read_csv(TEST + 'patients.csv')

In [31]:
payers_t = pd.read_csv(TEST + 'payers.csv')

In [32]:
payer_transitions_t = pd.read_csv(TEST + 'payer_transitions.csv')

In [33]:
procedures_t = pd.read_csv(TEST + 'procedures.csv')

In [34]:
providers_t = pd.read_csv(TEST + 'providers.csv')

In [35]:
supplies_t = pd.read_csv(TEST + 'supplies.csv')

## Helper functions

In [36]:
def Pivot_table_counts(table, column='DESCRIPTION', value='ENCOUNTER'):
    pivot = pd.pivot_table(table, values=value, index=['PATIENT'],
                       columns=[column], aggfunc=len, fill_value=0)
    pivot['Id'] = pivot.index
    return pivot

# Descriptive Statistics

## Allergies

In [37]:
#Compare and check list of allergies is the same in both train and test

In [38]:
len(set(allergies_t.DESCRIPTION)) == len(set(allergies.DESCRIPTION))

True

In [39]:
allergies.head()

,START,STOP,PATIENT,ENCOUNTER,CODE,DESCRIPTION
0,1936-11-03,NaN,614a610f-bd80-4721-a6f7-16d77b23b12e,0910390e-6f7b-4ecd-a906-1bc1fa29e10c,419474003,Allergy to mould
1,1936-11-03,NaN,614a610f-bd80-4721-a6f7-16d77b23b12e,0910390e-6f7b-4ecd-a906-1bc1fa29e10c,91935009,Allergy to peanuts
2,1972-03-25,NaN,a9195f7a-5bae-4f97-bc1f-810cc7be041d,c7b18813-13dd-490a-8191-53c0b1d32939,300913006,Shellfish allergy
3,1960-04-10,NaN,fa7d77b7-660a-452c-b167-174b53050d64,279c46fa-0dd0-4afd-a282-f9a37dd1610b,419474003,Allergy to mould
4,2001-10-18,NaN,89c0e799-a8ea-4130-800d-dd4518f372ac,fef340c6-aa04-4d15-847e-83d66b961a66,232347008,Dander (animal) allergy

In [40]:
allergies.shape

(29412, 6)

In [41]:
Allergies = Pivot_table_counts(allergies)

In [42]:
Allergies.describe()

DESCRIPTION,Allergy to bee venom,Allergy to dairy product,Allergy to eggs,Allergy to fish,Allergy to grass pollen,Allergy to mould,Allergy to nut,Allergy to peanuts,Allergy to soya,Allergy to tree pollen,Allergy to wheat,Dander (animal) allergy,House dust mite allergy,Latex allergy,Shellfish allergy
count,10903.000000,10903.000000,10903.000000,10903.000000,10903.000000,10903.000000,10903.000000,10903.000000,10903.000000,10903.000000,10903.000000,10903.000000,10903.000000,10903.000000,10903.000000
mean,0.172430,0.038155,0.049252,0.167569,0.254425,0.363753,0.169678,0.188297,0.016876,0.251949,0.045309,0.334679,0.248739,0.068697,0.327800
std,0.377771,0.191578,0.216405,0.373500,0.435558,0.481101,0.375367,0.390967,0.128813,0.434152,0.207990,0.471900,0.432302,0.252949,0.469433
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,1.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [43]:
Allergies.shape

(10903, 16)

In [44]:
del allergies

In [45]:
Allergies_t = Pivot_table_counts(allergies_t)

In [46]:
Allergies_t.describe()

DESCRIPTION,Allergy to bee venom,Allergy to dairy product,Allergy to eggs,Allergy to fish,Allergy to grass pollen,Allergy to mould,Allergy to nut,Allergy to peanuts,Allergy to soya,Allergy to tree pollen,Allergy to wheat,Dander (animal) allergy,House dust mite allergy,Latex allergy,Shellfish allergy
count,2826.000000,2826.000000,2826.000000,2826.000000,2826.000000,2826.000000,2826.000000,2826.000000,2826.000000,2826.000000,2826.000000,2826.000000,2826.000000,2826.000000,2826.000000
mean,0.172328,0.036093,0.051309,0.167021,0.266808,0.387827,0.173036,0.188960,0.020524,0.262562,0.047771,0.346426,0.261146,0.069356,0.341472
std,0.377732,0.186556,0.220667,0.373060,0.442370,0.487341,0.378345,0.391546,0.141808,0.440104,0.213318,0.475915,0.439337,0.254103,0.474287
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000,1.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [47]:
Allergies_t.shape

(2826, 16)

## Careplans

In [48]:
#The items pertaining coronavirus have been deleted from the test set. We need to remove them from 
#the train set

In [49]:
careplans.head()

,Id,START,STOP,PATIENT,ENCOUNTER,CODE,DESCRIPTION,REASONCODE,REASONDESCRIPTION
0,efd24baf-9341-46ee-abd5-706d38c3f19b,2016-11-09,NaN,53bbfa41-5cab-422e-a8a7-8fa3ae55ed71,9c42c408-d3e7-4ad0-a725-ece855b46ca7,718347000,Mental health care plan,36923009.0,Major depression single episode
1,b760f725-018e-4537-9154-dc748060cd85,2007-09-05,NaN,30fb496e-b8d3-4d36-8e50-86acb3d1a223,1e737ce2-b782-40a9-b9b4-3ee880d9afca,736254008,Psychiatry care plan,47505003.0,Posttraumatic stress disorder
2,a817efab-e967-4c1d-b8d6-86ba61c960b2,2020-03-10,2020-03-10,30fb496e-b8d3-4d36-8e50-86acb3d1a223,a703222d-f88a-45ef-be97-b3636357b5bc,736376001,Infectious disease care plan (record artifact),840544004.0,Suspected COVID-19
3,0b329cab-45e7-4adc-8dcd-b152c3f0a892,1996-08-09,NaN,afa2680f-7f73-46d9-b0cd-2cf3db49724b,76fdf7e8-da54-4932-9e42-e9c3f735af42,443402002,Lifestyle education regarding hypertension,59621000.0,Hypertension
4,f47a0b0c-2004-48a8-af77-4b030bff16bc,2001-09-07,NaN,afa2680f-7f73-46d9-b0cd-2cf3db49724b,c55e3a9a-0c1b-4de5-9013-769ed8bb2414,698360004,Diabetes self management plan,15777000.0,Prediabetes

In [50]:
careplans.shape

(489745, 9)

In [51]:
len(set(careplans.DESCRIPTION)) == len(set(careplans_t.DESCRIPTION))

False

In [52]:
#There are descriptions in the train set not available in the test set --> remove them 
options = np.setdiff1d(list(set(careplans.DESCRIPTION)), list(set(careplans_t.DESCRIPTION)))

In [53]:
list(options)

['Infectious disease care plan (record artifact)']

In [54]:
#Remove from train careplan the description items not in test set
careplans = careplans.loc[~careplans.DESCRIPTION.isin(list(options))]

In [55]:
len(set(careplans.REASONDESCRIPTION)) == len(set(careplans_t.REASONDESCRIPTION))

False

In [56]:
options = np.setdiff1d(list(set(careplans.REASONDESCRIPTION)), list(set(careplans_t.REASONDESCRIPTION)))

In [57]:
options

array(['Fracture of the vertebral column with spinal cord injury',
       'Non-small cell carcinoma of lung  TNM stage 2 (disorder)'],
      dtype='<U69')

In [58]:
#Remove from train careplan the reason description items not in test set
careplans = careplans.loc[~careplans.REASONDESCRIPTION.isin(list(options))]

In [59]:
Careplans = Pivot_table_counts(careplans)

In [60]:
Careplans.describe()

DESCRIPTION,Agreeing on diabetes care plan,Allergic disorder monitoring,Anti-suicide psychotherapy,Asthma self management,Burn care,Cancer care plan,Care Plan,Care plan (record artifact),Chronic obstructive pulmonary disease clinical management plan,Demential management,...,Postoperative care,Psychiatry care plan,Respiratory therapy,Routine antenatal care,Self-care interventions (procedure),Skin condition care,Spinal cord injury rehabilitation,Terminal care,Urinary tract infection care,Wound care
count,108569.000000,108569.000000,108569.000000,108569.000000,108569.000000,108569.000000,108569.000000,108569.000000,108569.000000,108569.000000,...,108569.000000,108569.000000,108569.000000,108569.000000,108569.00000,108569.000000,108569.000000,108569.00000,108569.000000,108569.000000
mean,0.000304,0.001999,0.002367,0.039385,0.004541,0.204626,0.337960,0.049029,0.048909,0.052345,...,0.000497,0.195700,0.139994,0.133933,0.15650,0.006411,0.000166,0.08834,0.004946,0.018071
std,0.017432,0.044663,0.048596,0.194510,0.068186,0.412193,0.473017,0.215929,0.215679,0.222722,...,0.022297,0.396741,0.647411,0.746405,0.36333,0.079810,0.012875,0.28379,0.072098,0.139559
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.00000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.00000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.00000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.00000,0.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,3.000000,2.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,11.000000,11.000000,1.00000,1.000000,1.000000,1.00000,2.000000,4.000000

In [61]:
Careplans_reason = Pivot_table_counts(careplans, column = 'REASONDESCRIPTION')

In [62]:
Careplans_reason.describe()

REASONDESCRIPTION,Acute bronchitis (disorder),Alzheimer's disease (disorder),Asthma,At risk for suicide (finding),Atopic dermatitis,Attempted suicide - cut/stab,Attempted suicide - suffocation,Bullet wound,Child attention deficit disorder,Childhood asthma,...,Rupture of patellar tendon,Second degree burn,Secondary malignant neoplasm of colon,Smokes tobacco daily,Sprain of ankle,Sprain of wrist,Suicidal deliberate poisoning,Tear of meniscus of knee,Third degree burn,Whiplash injury to neck
count,105816.000000,105816.000000,105816.000000,105816.000000,105816.000000,105816.000000,105816.000000,105816.000000,105816.000000,105816.000000,...,105816.000000,105816.000000,105816.000000,105816.000000,105816.00000,105816.000000,105816.000000,105816.000000,105816.000000,105816.000000
mean,0.143636,0.042451,0.002164,0.000180,0.005557,0.000454,0.000331,0.000293,0.000444,0.038246,...,0.000954,0.001805,0.003024,0.163246,0.01220,0.005245,0.001644,0.000662,0.000208,0.041695
std,0.655379,0.201617,0.046470,0.015973,0.074337,0.021294,0.018184,0.017114,0.021071,0.191790,...,0.030880,0.042447,0.054909,0.369591,0.11703,0.074803,0.040518,0.025712,0.014418,0.222235
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
max,11.000000,1.000000,1.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,4.00000,3.000000,1.000000,1.000000,1.000000,5.000000

In [63]:
del careplans

In [64]:
# test set doesn't have Infectious disease care plan (record artifact)

In [65]:
Careplans_t = Pivot_table_counts(careplans_t)

In [66]:
Careplans_t.describe()

DESCRIPTION,Agreeing on diabetes care plan,Allergic disorder monitoring,Anti-suicide psychotherapy,Asthma self management,Burn care,Cancer care plan,Care Plan,Care plan (record artifact),Chronic obstructive pulmonary disease clinical management plan,Demential management,...,Postoperative care,Psychiatry care plan,Respiratory therapy,Routine antenatal care,Self-care interventions (procedure),Skin condition care,Spinal cord injury rehabilitation,Terminal care,Urinary tract infection care,Wound care
count,26993.000000,26993.000000,26993.000000,26993.000000,26993.000000,26993.000000,26993.000000,26993.000000,26993.000000,26993.000000,...,26993.000000,26993.000000,26993.000000,26993.000000,26993.000000,26993.000000,26993.000000,26993.000000,26993.000000,26993.000000
mean,0.000222,0.001852,0.001852,0.041418,0.003445,0.196051,0.337050,0.051643,0.050087,0.051791,...,0.000185,0.194865,0.129367,0.126144,0.159264,0.006891,0.000037,0.085467,0.003075,0.012114
std,0.014908,0.043000,0.043000,0.199259,0.058597,0.405235,0.472711,0.221309,0.218129,0.221609,...,0.013609,0.396104,0.601946,0.717082,0.365928,0.082725,0.006087,0.279580,0.057339,0.111078
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,11.000000,13.000000,1.000000,1.000000,1.000000,1.000000,2.000000,3.000000

In [67]:
Careplans_reason_t = Pivot_table_counts(careplans_t, column = 'REASONDESCRIPTION')

In [68]:
Careplans_reason_t.describe()

REASONDESCRIPTION,Acute bronchitis (disorder),Alzheimer's disease (disorder),Asthma,At risk for suicide (finding),Atopic dermatitis,Attempted suicide - cut/stab,Attempted suicide - suffocation,Bullet wound,Child attention deficit disorder,Childhood asthma,...,Rupture of patellar tendon,Second degree burn,Secondary malignant neoplasm of colon,Smokes tobacco daily,Sprain of ankle,Sprain of wrist,Suicidal deliberate poisoning,Tear of meniscus of knee,Third degree burn,Whiplash injury to neck
count,26292.000000,26292.000000,26292.000000,26292.000000,26292.000000,26292.000000,26292.000000,26292.000000,26292.000000,26292.000000,...,26292.000000,26292.000000,26292.000000,26292.000000,26292.000000,26292.000000,26292.000000,26292.000000,26292.000000,26292.000000
mean,0.132816,0.042066,0.002929,0.000266,0.006314,0.000304,0.000114,0.000152,0.000723,0.039594,...,0.000647,0.001255,0.003233,0.165716,0.009851,0.003613,0.001483,0.000342,0.000266,0.042751
std,0.609542,0.200744,0.054039,0.022235,0.079209,0.017441,0.010682,0.012334,0.026873,0.195007,...,0.025420,0.035406,0.056768,0.371832,0.108665,0.060633,0.038486,0.018499,0.016315,0.225082
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,11.000000,1.000000,1.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,5.000000,2.000000,1.000000,1.000000,1.000000,3.000000

In [69]:
del careplans_t

In [70]:
Careplans.shape

(108569, 37)

In [71]:
Careplans_reason.shape

(105816, 73)

In [72]:
Careplans.shape

(108569, 37)

In [73]:
Careplans_reason.shape

(105816, 73)

## Conditions

In [74]:
#The following conditions have been removed from the test set!

In [75]:
options = np.setdiff1d(list(set(conditions.DESCRIPTION)), list(set(conditions_t.DESCRIPTION)))

In [76]:
list(options)

['Acquired coagulation disorder (disorder)',
 'Acute deep venous thrombosis (disorder)',
 'Acute pulmonary embolism (disorder)',
 'Acute respiratory distress syndrome (disorder)',
 'Attempted suicide - cut/stab',
 'Bacterial infectious disease (disorder)',
 'COVID-19',
 'Chill (finding)',
 'Cough (finding)',
 'Diarrhea symptom (finding)',
 'Dyspnea (finding)',
 'Fatigue (finding)',
 'Fever (finding)',
 'Headache (finding)',
 'Heart failure (disorder)',
 'Hemoptysis (finding)',
 'Hypoxemia (disorder)',
 'Injury of heart (disorder)',
 'Injury of kidney (disorder)',
 'Joint pain (finding)',
 'Loss of taste (finding)',
 'Muscle pain (finding)',
 'Nasal congestion (finding)',
 'Nausea (finding)',
 'Non-small cell carcinoma of lung  TNM stage 2 (disorder)',
 'Passive conjunctival congestion (finding)',
 'Pneumonia (disorder)',
 'Respiratory distress (finding)',
 'Sepsis caused by virus (disorder)',
 'Septic shock (disorder)',
 'Sore throat symptom (finding)',
 'Sputum finding (finding)',
 'Suspected COVID-19',
 'Vomiting symptom (finding)',
 'Wheezing (finding)']

In [77]:
conditions_tmp = conditions.loc[~conditions.DESCRIPTION.isin(list(options))]

In [78]:
len(set(conditions_tmp.DESCRIPTION))

157

In [79]:
conditions.shape

(1362601, 6)

In [80]:
conditions[conditions['CODE']==840539006].shape

(73697, 6)

In [81]:
conditions.head()

,START,STOP,PATIENT,ENCOUNTER,CODE,DESCRIPTION
0,1995-08-22,NaN,93fa6213-73a1-4cce-b408-9986a4145801,4487de56-f20a-422d-a2f6-aa15dcd1cd6d,53741008,Coronary Heart Disease
1,2000-12-20,2000-12-27,93fa6213-73a1-4cce-b408-9986a4145801,d0105ca5-d725-44e9-aaee-51f0e04392e4,195662009,Acute viral pharyngitis (disorder)
2,2001-12-04,NaN,93fa6213-73a1-4cce-b408-9986a4145801,1123f059-daf8-4a9e-be5f-e1eee5fcdb48,22298006,Myocardial Infarction
3,2001-12-04,NaN,93fa6213-73a1-4cce-b408-9986a4145801,1123f059-daf8-4a9e-be5f-e1eee5fcdb48,399211009,History of myocardial infarction (situation)
4,2016-11-09,NaN,53bbfa41-5cab-422e-a8a7-8fa3ae55ed71,fdedb884-d844-420a-9ec7-5d6cab4ffd02,370143000,Major depression disorder

In [82]:
Conditions =  Pivot_table_counts(conditions_tmp)

In [83]:
Conditions.describe()

DESCRIPTION,Acute Cholecystitis,Acute allergic reaction,Acute bacterial sinusitis (disorder),Acute bronchitis (disorder),Acute respiratory failure (disorder),Acute viral pharyngitis (disorder),Alcoholism,Alzheimer's disease (disorder),Anemia (disorder),Antepartum eclampsia,...,Streptococcal sore throat (disorder),Stroke,Suicidal deliberate poisoning,Suspected lung cancer (situation),Tear of meniscus of knee,Third degree burn,Traumatic brain injury (disorder),Tubal pregnancy,Viral sinusitis (disorder),Whiplash injury to neck
count,115190.000000,115190.000000,115190.000000,115190.000000,115190.000000,115190.000000,115190.000000,115190.000000,115190.000000,115190.000000,...,115190.000000,115190.000000,115190.000000,115190.000000,115190.000000,115190.000000,115190.000000,115190.000000,115190.000000,115190.000000
mean,0.000434,0.000356,0.007683,0.055178,0.093133,0.068496,0.120514,0.038996,0.473166,0.001936,...,0.012119,0.074251,0.000052,0.083479,0.000582,0.000191,0.006511,0.030567,0.137234,0.005938
std,0.020830,0.018863,0.091964,0.272910,0.290620,0.319786,0.325563,0.193587,0.499282,0.044740,...,0.116564,0.262180,0.007217,0.276607,0.024110,0.013819,0.080428,0.182282,0.597002,0.078506
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,3.000000,11.000000,1.000000,12.000000,1.000000,1.000000,1.000000,3.000000,...,5.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,3.000000,19.000000,4.000000

In [84]:
del conditions_tmp

In [85]:
Conditions_t = Pivot_table_counts(conditions_t)

In [86]:
Conditions_t.describe()

DESCRIPTION,Acute Cholecystitis,Acute allergic reaction,Acute bacterial sinusitis (disorder),Acute bronchitis (disorder),Acute respiratory failure (disorder),Acute viral pharyngitis (disorder),Alcoholism,Alzheimer's disease (disorder),Anemia (disorder),Antepartum eclampsia,...,Streptococcal sore throat (disorder),Stroke,Suicidal deliberate poisoning,Suspected lung cancer (situation),Tear of meniscus of knee,Third degree burn,Traumatic brain injury (disorder),Tubal pregnancy,Viral sinusitis (disorder),Whiplash injury to neck
count,28671.000000,28671.000000,28671.000000,28671.000000,28671.000000,28671.000000,28671.000000,28671.000000,28671.000000,28671.000000,...,28671.00000,28671.000000,28671.000000,28671.000000,28671.000000,28671.000000,28671.000000,28671.000000,28671.000000,28671.000000
mean,0.000174,0.000140,0.006243,0.043703,0.000035,0.053399,0.119877,0.038576,0.467336,0.001291,...,0.00851,0.072338,0.000035,0.080709,0.000279,0.000244,0.006453,0.029577,0.113006,0.004360
std,0.013205,0.011811,0.080952,0.239916,0.005906,0.288075,0.324824,0.192584,0.498941,0.041321,...,0.09411,0.259051,0.005906,0.272392,0.016702,0.015624,0.080069,0.177857,0.560528,0.065886
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,3.000000,7.000000,1.000000,9.000000,1.000000,1.000000,1.000000,4.000000,...,3.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,3.000000,16.000000,1.000000

In [87]:
del conditions_t

In [88]:
Conditions.shape

(115190, 158)

In [89]:
Conditions_t.shape

(28671, 158)

## Devices

In [90]:
len(set(devices.DESCRIPTION)) == len(set(devices_t.DESCRIPTION))

False

In [91]:
options = np.setdiff1d(list(set(devices.DESCRIPTION)), list(set(devices_t.DESCRIPTION)))
list(options)

['Hemodialysis machine  device (physical object)',
 'Mechanical ventilator (physical object)',
 'Videolaryngoscope (physical object)']

In [92]:
devices.head()

,START,STOP,PATIENT,ENCOUNTER,CODE,DESCRIPTION,UDI
0,2001-12-04,NaN,93fa6213-73a1-4cce-b408-9986a4145801,1123f059-daf8-4a9e-be5f-e1eee5fcdb48,705643001,Coronary artery stent (physical object),(01)10169454158981(11)011113(17)261128(10)1552...
1,2020-03-08,2020-03-15,c58ae02e-235e-4db2-a9c3-6926e9c0c5fa,58c7f39a-0c0a-4d40-8855-5f80a982ab41,449071006,Mechanical ventilator (physical object),(01)14798578300913(11)200216(17)450302(10)7395...
2,2020-03-08,2020-03-08,c58ae02e-235e-4db2-a9c3-6926e9c0c5fa,58c7f39a-0c0a-4d40-8855-5f80a982ab41,448907002,Videolaryngoscope (physical object),(01)91976387389071(11)200216(17)450302(10)3499...
3,2001-03-14,NaN,b19b626b-7e2a-4adc-98a8-dd17676b7d83,073a931c-25b1-4d84-acad-4866f172241c,72506001,Implantable defibrillator device (physical ob...,(01)91523068931360(11)010221(17)260308(10)8021...
4,1978-01-13,NaN,6348ae8c-a92f-40c5-9d59-d441bc540e6d,e21926cf-fe57-4ce9-b4e6-31ce45c0db7c,705643001,Coronary artery stent (physical object),(01)13039212647100(11)771223(17)030107(10)3032...

In [93]:
devices = devices.loc[~devices.DESCRIPTION.isin(list(options))]

In [94]:
devices.DESCRIPTION.value_counts()

Implantable defibrillator  device (physical object)    5760
Coronary artery stent (physical object)                3698
Implantable cardiac pacemaker (physical object)        1530
Name: DESCRIPTION, dtype: int64

In [95]:
Devices = Pivot_table_counts(devices)

In [96]:
Devices.describe()

DESCRIPTION,Coronary artery stent (physical object),Implantable cardiac pacemaker (physical object),Implantable defibrillator device (physical object)
count,10649.000000,10649.000000,10649.000000
mean,0.347263,0.143675,0.540896
std,0.476122,0.350777,0.498348
min,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000
50%,0.000000,0.000000,1.000000
75%,1.000000,0.000000,1.000000
max,1.000000,1.000000,1.000000

Negative for non presence as opposed to missing

In [97]:
Devices_t = Pivot_table_counts(devices_t)

In [98]:
Devices_t.describe()

DESCRIPTION,Coronary artery stent (physical object),Implantable cardiac pacemaker (physical object),Implantable defibrillator device (physical object)
count,2630.000000,2630.000000,2630.000000
mean,0.355894,0.123954,0.557795
std,0.478874,0.329592,0.496743
min,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000
50%,0.000000,0.000000,1.000000
75%,1.000000,0.000000,1.000000
max,1.000000,1.000000,1.000000

In [99]:
del devices, devices_t

In [100]:
Devices.shape

(10649, 4)

In [101]:
Devices_t.shape

(2630, 4)

## Encounters

In [102]:
encounters.head()

,Id,START,STOP,PATIENT,ORGANIZATION,PROVIDER,PAYER,ENCOUNTERCLASS,CODE,DESCRIPTION,BASE_ENCOUNTER_COST,TOTAL_CLAIM_COST,PAYER_COVERAGE,REASONCODE,REASONDESCRIPTION
0,4487de56-f20a-422d-a2f6-aa15dcd1cd6d,1995-08-23T02:20:21Z,1995-08-23T02:35:21Z,93fa6213-73a1-4cce-b408-9986a4145801,066dc005-2020-39f1-ba27-8cf297e231d0,35509b88-c026-38e1-b3e1-cb218431a06d,b1c428d6-4f07-31e0-90f0-68ffa6ff8c76,wellness,410620009,Well child visit (procedure),129.16,129.16,0.0,NaN,NaN
1,c6d44945-d551-499e-aaf7-496ffd9a85e2,1996-08-28T02:20:21Z,1996-08-28T02:35:21Z,93fa6213-73a1-4cce-b408-9986a4145801,066dc005-2020-39f1-ba27-8cf297e231d0,35509b88-c026-38e1-b3e1-cb218431a06d,b1c428d6-4f07-31e0-90f0-68ffa6ff8c76,wellness,410620009,Well child visit (procedure),129.16,129.16,0.0,NaN,NaN
2,bf6651e1-8e8c-426d-ae01-136f36db137e,1997-09-03T02:20:21Z,1997-09-03T02:50:21Z,93fa6213-73a1-4cce-b408-9986a4145801,066dc005-2020-39f1-ba27-8cf297e231d0,35509b88-c026-38e1-b3e1-cb218431a06d,b1c428d6-4f07-31e0-90f0-68ffa6ff8c76,wellness,410620009,Well child visit (procedure),129.16,129.16,0.0,NaN,NaN
3,1d731dbe-3a08-4242-aacf-9ee71e186146,1998-09-09T02:20:21Z,1998-09-09T02:35:21Z,93fa6213-73a1-4cce-b408-9986a4145801,066dc005-2020-39f1-ba27-8cf297e231d0,35509b88-c026-38e1-b3e1-cb218431a06d,b1c428d6-4f07-31e0-90f0-68ffa6ff8c76,wellness,410620009,Well child visit (procedure),129.16,129.16,0.0,NaN,NaN
4,c6e318d5-c0a2-4317-80f5-10f187b1d1a2,1999-09-15T02:20:21Z,1999-09-15T02:50:21Z,93fa6213-73a1-4cce-b408-9986a4145801,066dc005-2020-39f1-ba27-8cf297e231d0,35509b88-c026-38e1-b3e1-cb218431a06d,b1c428d6-4f07-31e0-90f0-68ffa6ff8c76,wellness,410620009,Well child visit (procedure),129.16,129.16,0.0,NaN,NaN

In [103]:
options = np.setdiff1d(list(set(encounters.REASONDESCRIPTION)), list(set(encounters_t.REASONDESCRIPTION)))
options

array(['COVID-19', 'Loss of taste (finding)',
       'Non-small cell carcinoma of lung  TNM stage 2 (disorder)',
       'Suicide - suffocation'], dtype='<U69')

In [104]:
encounters_tmp = encounters.loc[~encounters.REASONDESCRIPTION.isin(options)]

In [105]:
len(set(encounters.DESCRIPTION)) == len(set(encounters_t.DESCRIPTION))

False

In [106]:
options = np.setdiff1d(list(set(encounters.DESCRIPTION)), list(set(encounters_t.DESCRIPTION)))
options

array(['Admission to intensive care unit (procedure)',
       'Awaiting transplantation of lung (situation)',
       'Hospital admission  for observation (procedure)',
       'Hospital admission for isolation (procedure)'], dtype='<U70')

In [107]:
encounters_tmp = encounters_tmp.loc[~encounters_tmp.DESCRIPTION.isin(list(options))]

In [108]:
encounters['START'] = pd.to_datetime(encounters.START)

In [109]:
encounters['STOP'] = pd.to_datetime(encounters.STOP)

In [110]:
encounters_t['START'] = pd.to_datetime(encounters_t.START)

In [111]:
encounters_t['STOP'] = pd.to_datetime(encounters_t.STOP)

In [112]:
encounters_tmp.shape

(5991773, 15)

In [113]:
len(encounters.PATIENT.unique())

117821

In [114]:
encounters['Days_hospitalized'] = encounters.STOP  - encounters.START

In [115]:
encounters['Days_hospitalized'].describe()

count                     6023703
mean       8 days 02:52:18.270542
std      339 days 17:21:02.830954
min               0 days 00:15:00
25%               0 days 00:15:00
50%               0 days 00:15:00
75%               0 days 00:30:00
max           30555 days 00:15:00
Name: Days_hospitalized, dtype: object

In [116]:
Encounters = Pivot_table_counts(encounters_tmp, value='CODE')

In [117]:
Encounters.describe()

DESCRIPTION,Admission to surgical department,Admission to thoracic surgery department,Allergic disorder follow-up assessment,Allergic disorder initial assessment,Asthma follow-up,Cardiac Arrest,Consultation for treatment,Death Certification,Diagnosis of cystic fibrosis using sweat test and gene test,Discussion about treatment (procedure),...,Postoperative follow-up visit (procedure),Prenatal initial visit,Prenatal visit,Screening surveillance (regime/therapy),Stroke,Telemedicine consultation with patient,Telephone encounter (procedure),Urgent care clinic (procedure),Well child visit (procedure),posttraumatic stress disorder
count,117821.000000,117821.000000,117821.000000,117821.000000,117821.000000,117821.000000,117821.000000,117821.000000,117821.000000,117821.000000,...,117821.000000,117821.000000,117821.000000,117821.000000,117821.000000,117821.000000,117821.000000,117821.000000,117821.000000,117821.000000
mean,0.004456,0.001630,0.001706,0.003471,0.043863,0.047487,0.208588,0.218204,0.000323,0.001307,...,0.044644,0.420952,0.334915,0.027508,0.068180,0.157858,0.070064,1.316370,0.718582,0.038643
std,0.066731,0.040335,0.041268,0.058816,0.330780,0.214072,0.637280,0.413028,0.017956,0.036130,...,0.324326,1.014690,1.210631,0.199257,0.256858,4.125807,0.935533,3.926755,2.847275,0.242229
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,2.000000,1.000000,1.000000,1.000000,13.000000,2.000000,10.000000,1.000000,1.000000,1.000000,...,6.000000,15.000000,14.000000,17.000000,3.000000,236.000000,41.000000,30.000000,25.000000,6.000000

In [118]:
Encounters_reason = Pivot_table_counts(encounters_tmp, column= 'REASONDESCRIPTION', value='CODE')

In [119]:
Encounters_reason.describe()

REASONDESCRIPTION,Acute Cholecystitis,Acute bacterial sinusitis (disorder),Acute bronchitis (disorder),Acute respiratory failure (disorder),Acute viral pharyngitis (disorder),Alzheimer's disease (disorder),Anemia (disorder),Appendicitis,Asthma,At risk for suicide (finding),...,Small cell carcinoma of lung (disorder),Streptococcal sore throat (disorder),Stroke,Sudden Cardiac Death,Suicidal deliberate poisoning,Suicide - firearms,Suspected lung cancer (situation),Third degree burn,Tubal pregnancy,Viral sinusitis (disorder)
count,109682.000000,109682.000000,109682.000000,109682.000000,109682.000000,109682.000000,109682.000000,109682.000000,109682.000000,109682.000000,...,109682.000000,109682.000000,109682.000000,109682.000000,109682.000000,109682.000000,109682.000000,109682.000000,109682.000000,109682.000000
mean,0.001185,0.163974,0.247625,0.000137,0.158531,0.038046,0.324711,0.127204,0.044565,0.000210,...,0.022565,0.031090,0.012135,0.014551,0.001678,0.000036,0.095640,0.000301,0.001304,0.386408
std,0.034407,0.453346,0.730808,0.011694,0.452214,0.257140,0.479467,0.488088,0.343774,0.017862,...,0.203612,0.182173,0.109489,0.119748,0.043724,0.006039,0.320077,0.017343,0.037081,0.862420
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
max,1.000000,10.000000,11.000000,1.000000,12.000000,4.000000,3.000000,2.000000,14.000000,2.000000,...,2.000000,5.000000,1.000000,1.000000,3.000000,1.000000,3.000000,1.000000,2.000000,19.000000

In [120]:
Encounters_t = Pivot_table_counts(encounters_t, value='CODE')

In [121]:
Encounters_t.describe()

DESCRIPTION,Admission to surgical department,Admission to thoracic surgery department,Allergic disorder follow-up assessment,Allergic disorder initial assessment,Asthma follow-up,Cardiac Arrest,Consultation for treatment,Death Certification,Diagnosis of cystic fibrosis using sweat test and gene test,Discussion about treatment (procedure),...,Postoperative follow-up visit (procedure),Prenatal initial visit,Prenatal visit,Screening surveillance (regime/therapy),Stroke,Telemedicine consultation with patient,Telephone encounter (procedure),Urgent care clinic (procedure),Well child visit (procedure),posttraumatic stress disorder
count,29129.000000,29129.000000,29129.000000,29129.000000,29129.000000,29129.000000,29129.000000,29129.000000,29129.00000,29129.000000,...,29129.000000,29129.000000,29129.000000,29129.000000,29129.000000,29129.000000,29129.000000,29129.000000,29129.000000,29129.000000
mean,0.003502,0.002128,0.001922,0.003433,0.040921,0.048234,0.182190,0.216485,0.00024,0.001133,...,0.035429,0.410278,0.274984,0.020976,0.067527,0.129630,0.056439,0.996018,0.750867,0.036870
std,0.059651,0.046087,0.043805,0.058492,0.337264,0.215382,0.574154,0.411856,0.01550,0.033640,...,0.278143,0.968959,0.999406,0.159194,0.254604,3.470154,0.689984,3.078002,2.915294,0.228166
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,...,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,2.000000,1.000000,1.000000,1.000000,13.000000,2.000000,8.000000,1.000000,1.00000,1.000000,...,6.000000,14.000000,11.000000,5.000000,2.000000,207.000000,31.000000,30.000000,24.000000,6.000000

In [122]:
Encounters_reason_t = Pivot_table_counts(encounters_t, column= 'REASONDESCRIPTION', value='CODE')

In [123]:
Encounters_reason_t.describe()

REASONDESCRIPTION,Acute Cholecystitis,Acute bacterial sinusitis (disorder),Acute bronchitis (disorder),Acute respiratory failure (disorder),Acute viral pharyngitis (disorder),Alzheimer's disease (disorder),Anemia (disorder),Appendicitis,Asthma,At risk for suicide (finding),...,Small cell carcinoma of lung (disorder),Streptococcal sore throat (disorder),Stroke,Sudden Cardiac Death,Suicidal deliberate poisoning,Suicide - firearms,Suspected lung cancer (situation),Third degree burn,Tubal pregnancy,Viral sinusitis (disorder)
count,27144.000000,27144.000000,27144.000000,27144.000000,27144.000000,27144.000000,27144.000000,27144.000000,27144.000000,27144.000000,...,27144.000000,27144.000000,27144.000000,27144.000000,27144.000000,27144.000000,27144.00000,27144.000000,27144.000000,27144.000000
mean,0.000663,0.164788,0.239390,0.000037,0.145078,0.037651,0.316645,0.123490,0.040746,0.000368,...,0.020373,0.027925,0.012342,0.014110,0.001474,0.000037,0.09177,0.000368,0.000995,0.369953
std,0.025743,0.443960,0.692656,0.006070,0.429826,0.253446,0.473263,0.481392,0.348519,0.025749,...,0.193637,0.167643,0.110407,0.117946,0.039309,0.006070,0.31071,0.019191,0.034854,0.846223
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,1.000000
max,1.000000,6.000000,11.000000,1.000000,9.000000,4.000000,3.000000,2.000000,13.000000,3.000000,...,2.000000,3.000000,1.000000,1.000000,2.000000,1.000000,3.00000,1.000000,2.000000,16.000000

In [124]:
del encounters_tmp, encounters_t

In [125]:
Encounters.shape

(117821, 54)

In [126]:
Encounters['Encounter for symptom (procedure)'].describe()

count    117821.000000
mean          0.787372
std           0.617141
min           0.000000
25%           0.000000
50%           1.000000
75%           1.000000
max           3.000000
Name: Encounter for symptom (procedure), dtype: float64

In [127]:
Encounters_t['Encounter for symptom (procedure)'].describe()

count    29129.000000
mean         0.145765
std          0.358092
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          2.000000
Name: Encounter for symptom (procedure), dtype: float64

This is supposed to be veterans data. Why do we have well child visits and not an inconsequential amount?

## Imaging Studies

In [128]:
main_list = np.setdiff1d(list(set(imaging_studies.BODYSITE_DESCRIPTION)), 
                         list(set(imaging_studies_t.BODYSITE_DESCRIPTION)))
main_list

array([], dtype='<U44')

In [129]:
main_list = np.setdiff1d(list(set(imaging_studies.MODALITY_DESCRIPTION)), 
                         list(set(imaging_studies_t.MODALITY_DESCRIPTION)))
main_list

array([], dtype='<U20')

In [130]:
imaging_studies.head()

,Id,DATE,PATIENT,ENCOUNTER,BODYSITE_CODE,BODYSITE_DESCRIPTION,MODALITY_CODE,MODALITY_DESCRIPTION,SOP_CODE,SOP_DESCRIPTION
0,89147b5f-e439-41d3-ad9c-010803605889,2020-03-25,614a610f-bd80-4721-a6f7-16d77b23b12e,faf5f83c-c8b5-48c2-a18c-8e0f70dfc817,40983000,Arm,DX,Digital Radiography,1.2.840.10008.5.1.4.1.1.1.1,Digital X-Ray Image Storage
1,23515e56-0f58-4c5b-a8c0-b03222c10529,2015-08-21,c5c9f28e-dd72-4c10-8c76-9b62112506bd,f76ebda5-27a0-4105-8a90-60f027608170,261179002,thoracic,US,Ultrasound,1.2.840.10008.5.1.4.1.1.3.1,Ultrasound Multiframe Image Storage
2,b4828166-40ff-4d76-aa63-a8b3586b7a92,2018-02-06,c5c9f28e-dd72-4c10-8c76-9b62112506bd,82d83cf9-61de-49b3-9dec-f0d39233c226,51185008,Thoracic structure (body structure),CR,Computed Radiography,1.2.840.10008.5.1.4.1.1.1.1,Digital X-Ray Image Storage – for Presentation
3,3bb0ef4c-345c-4906-b8e8-029d8e984118,2018-02-06,c5c9f28e-dd72-4c10-8c76-9b62112506bd,1a4580b7-909d-406f-98d0-d41d65b4cef8,261179002,Thoracic,US,Ultrasound,1.2.840.10008.5.1.4.1.1.3.1,Ultrasound Multiframe Image Storage
4,8f26666f-932a-4f9a-a524-ec2312261f44,2018-02-06,c5c9f28e-dd72-4c10-8c76-9b62112506bd,1a4580b7-909d-406f-98d0-d41d65b4cef8,51185008,Thoracic structure,DX,Digital Radiography,1.2.840.10008.5.1.4.1.1.1.1,Digital X-Ray Image Storage – for Presentation

In [131]:
Imaging_studies = Pivot_table_counts(imaging_studies, column= 'BODYSITE_DESCRIPTION')

In [132]:
#MODALITY_DESCRIPTION

In [133]:
Imaging_studies_mod = Pivot_table_counts(imaging_studies, column= 'MODALITY_DESCRIPTION')

In [134]:
Imaging_studies_mod.describe()

MODALITY_DESCRIPTION,Computed Radiography,Computed Tomography,Digital Radiography,Ultrasound
count,13748.000000,13748.000000,13748.000000,13748.000000
mean,0.570265,1.196538,1.026986,1.377364
std,0.596608,3.825511,0.667932,1.303961
min,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,1.000000,0.000000
50%,1.000000,0.000000,1.000000,2.000000
75%,1.000000,0.000000,1.000000,2.000000
max,4.000000,29.000000,7.000000,8.000000

In [135]:
Imaging_studies_t = Pivot_table_counts(imaging_studies_t, column= 'BODYSITE_DESCRIPTION')

In [136]:
Imaging_studies_mod_t = Pivot_table_counts(imaging_studies_t, column= 'MODALITY_DESCRIPTION')

In [137]:
Imaging_studies.shape

(13748, 13)

In [138]:
Imaging_studies_mod.shape

(13748, 5)

In [139]:
Imaging_studies_t.shape

(3252, 13)

In [140]:
Imaging_studies_mod_t.shape

(3252, 5)

In [141]:
del imaging_studies, imaging_studies_t

SOP description less important

## Immunizations

In [142]:
main_list = np.setdiff1d(list(set(immunizations.DESCRIPTION)), 
                         list(set(immunizations_t.DESCRIPTION)))
main_list

array([], dtype='<U50')

In [143]:
immunizations.head()

,DATE,PATIENT,ENCOUNTER,CODE,DESCRIPTION,BASE_COST
0,2001-09-25,93fa6213-73a1-4cce-b408-9986a4145801,8c82b36e-c3ac-428c-b56d-d51d5a4b8b16,140,Influenza seasonal injectable preservative ...,140.52
1,2019-11-27,53bbfa41-5cab-422e-a8a7-8fa3ae55ed71,e3e925da-97a5-4af9-98ce-600244252bc9,140,Influenza seasonal injectable preservative ...,140.52
2,2019-11-27,53bbfa41-5cab-422e-a8a7-8fa3ae55ed71,e3e925da-97a5-4af9-98ce-600244252bc9,113,Td (adult) preservative free,140.52
3,2019-11-27,53bbfa41-5cab-422e-a8a7-8fa3ae55ed71,e3e925da-97a5-4af9-98ce-600244252bc9,43,Hep B adult,140.52
4,2019-11-27,53bbfa41-5cab-422e-a8a7-8fa3ae55ed71,e3e925da-97a5-4af9-98ce-600244252bc9,114,meningococcal MCV4P,140.52

In [144]:
immunizations.DESCRIPTION.value_counts()

Influenza  seasonal  injectable  preservative free    105014
Td (adult) preservative free                           12295
zoster                                                  2774
Hep A  adult                                            2732
pneumococcal polysaccharide vaccine  23 valent          2670
Hep B  adult                                            2113
Pneumococcal conjugate PCV 13                           2036
meningococcal MCV4P                                     1352
IPV                                                      397
Hib (PRP-OMP)                                            173
Hep B  adolescent or pediatric                           113
MMR                                                      102
varicella                                                 49
DTaP                                                      37
HPV  quadrivalent                                         35
Hep A  ped/adol  2 dose                                   16
Tdap                                                      16
Name: DESCRIPTION, dtype: int64

In [145]:
Immunizations = Pivot_table_counts(immunizations)

In [146]:
Immunizations.describe()

DESCRIPTION,DTaP,HPV quadrivalent,Hep A adult,Hep A ped/adol 2 dose,Hep B adolescent or pediatric,Hep B adult,Hib (PRP-OMP),IPV,Influenza seasonal injectable preservative free,MMR,Pneumococcal conjugate PCV 13,Td (adult) preservative free,Tdap,meningococcal MCV4P,pneumococcal polysaccharide vaccine 23 valent,varicella,zoster
count,101001.000000,101001.000000,101001.000000,101001.000000,101001.000000,101001.000000,101001.000000,101001.000000,101001.000000,101001.000000,101001.000000,101001.000000,101001.000000,101001.000000,101001.000000,101001.000000,101001.000000
mean,0.000366,0.000347,0.027049,0.000158,0.001119,0.020921,0.001713,0.003931,1.039732,0.001010,0.020158,0.121731,0.000158,0.013386,0.026435,0.000485,0.027465
std,0.024573,0.019647,0.168220,0.012585,0.049440,0.153210,0.056700,0.097668,0.222887,0.031763,0.140542,0.326977,0.012585,0.114922,0.160427,0.022021,0.172971
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,3.000000,2.000000,2.000000,1.000000,3.000000,3.000000,3.000000,3.000000,4.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000

In [147]:
Immunizations.shape

(101001, 18)

In [148]:
Immunizations_t = Pivot_table_counts(immunizations_t)

In [149]:
Immunizations_t.shape

(18834, 18)

## Medications

In [150]:
options_ = np.setdiff1d(list(set(medications_t.DESCRIPTION)), 
                         list(set(medications.DESCRIPTION)))
list(options_)

['Kalydeco 150 MG Oral Tablet']

In [151]:
options = np.setdiff1d(list(set(medications.DESCRIPTION)), 
                         list(set(medications_t.DESCRIPTION)))
list(options)

['0.3 ML Enoxaparin sodium 100 MG/ML Prefilled Syringe',
 '0.4 ML Enoxaparin sodium 100 MG/ML Prefilled Syringe',
 '0.67 ML anakinra 149 MG/ML Prefilled Syringe',
 '1 ML Enoxaparin sodium 150 MG/ML Prefilled Syringe',
 '1 ML Vasopressin (USP) 20 UNT/ML Injection',
 '20 ML tocilizumab 20 MG/ML Injection',
 '4 ML Norepinephrine 1 MG/ML Injection',
 'Acetaminophen 500 MG Oral Tablet',
 'Albuterol 5 MG/ML Inhalation Solution',
 'Aviptadil Infusion',
 'Azithromycin 250 MG Oral Tablet',
 'CD24Fc 480 MG IV',
 'CM4620 Injectable Emulsion',
 'Doxycycline Monohydrate 100 MG Oral Tablet',
 'Hydroxychloroquine Sulfate 200 MG Oral Tablet',
 'Lenzilumab 200 MG IV',
 'Leronlimab 700 MG Injection',
 'Lorazepam 2 MG/ML Injectable Solution',
 'ado-trastuzumab emtansine 100 MG Injection',
 'atomoxetine 100 MG Oral Capsule',
 'baricitinib 2 MG Oral Tablet',
 'chloroquine phosphate 500 MG Oral Tablet',
 'desflurane 1000 MG/ML Inhalation Solution',
 'neratinib 40 MG Oral Tablet',
 'piperacillin 4000 MG / tazobactam 500 MG Injection',
 'remdesivir 100 MG Injection',
 'sevoflurane 1000 MG/ML Inhalant Solution',
 'vancomycin 1000 MG Injection']

In [152]:
medications = medications.loc[~medications.DESCRIPTION.isin(list(options) + list(options_))]

In [153]:
medications_t = medications_t.loc[~medications_t.DESCRIPTION.isin(list(options) + list(options_))]

In [154]:
Medications = pd.pivot_table(medications, values='DISPENSES', index=['PATIENT'],
                       columns=['DESCRIPTION'], aggfunc=np.sum, fill_value=0)

In [155]:
Medications.describe()

DESCRIPTION,0.25 ML Leuprolide Acetate 30 MG/ML Prefilled Syringe,1 ML DOCEtaxel 20 MG/ML Injection,1 ML Epinephrine 1 MG/ML Injection,1 ML Epoetin Alfa 4000 UNT/ML Injection [Epogen],1 ML Morphine Sulfate 5 MG/ML Injection,1 ML denosumab 60 MG/ML Prefilled Syringe,1 ML heparin sodium porcine 5000 UNT/ML Injection,1 ML medroxyPROGESTERone acetate 150 MG/ML Injection,1 ML medroxyprogesterone acetate 150 MG/ML Injection,10 ML Alfentanil 0.5 MG/ML Injection,...,exemestane 25 MG Oral Tablet,ferrous sulfate 325 MG Oral Tablet,insulin human isophane 70 UNT/ML / Regular Insulin Human 30 UNT/ML Injectable Suspension [Humulin],letrozole 2.5 MG Oral Tablet,palbociclib 100 MG Oral Capsule,predniSONE 20 MG Oral Tablet,predniSONE 5 MG Oral Tablet,pregabalin 100 MG Oral Capsule,remifentanil 2 MG Injection,ribociclib 200 MG Oral Tablet
count,106421.000000,106421.000000,106421.000000,106421.000000,106421.000000,106421.000000,106421.000000,106421.000000,106421.000000,106421.000000,...,106421.000000,106421.000000,106421.000000,106421.000000,106421.000000,106421.000000,106421.000000,106421.000000,106421.000000,106421.000000
mean,17.114291,17.114291,0.008429,1.416863,0.000470,0.000554,0.005384,0.055468,0.167270,0.000094,...,0.000179,23.801120,47.442704,0.000122,0.000282,0.000226,0.000385,0.001175,0.000197,0.000432
std,48.686934,48.686934,0.091524,12.836149,0.021671,0.032868,0.099327,0.836512,1.750103,0.009693,...,0.013361,101.534342,120.812185,0.011052,0.016788,0.044209,0.019624,0.045141,0.014046,0.020786
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,301.000000,301.000000,2.000000,120.000000,1.000000,2.000000,3.000000,36.000000,66.000000,1.000000,...,1.000000,986.000000,733.000000,1.000000,1.000000,14.000000,1.000000,4.000000,1.000000,1.000000

In [156]:
Medications['Id'] = Medications.index

In [157]:
Medications_t = pd.pivot_table(medications_t, values='DISPENSES', index=['PATIENT'],
                       columns=['DESCRIPTION'], aggfunc=np.sum, fill_value=0)

In [158]:
Medications_t['Id'] = Medications_t.index

In [159]:
Medications_t.describe()

DESCRIPTION,0.25 ML Leuprolide Acetate 30 MG/ML Prefilled Syringe,1 ML DOCEtaxel 20 MG/ML Injection,1 ML Epinephrine 1 MG/ML Injection,1 ML Epoetin Alfa 4000 UNT/ML Injection [Epogen],1 ML Morphine Sulfate 5 MG/ML Injection,1 ML denosumab 60 MG/ML Prefilled Syringe,1 ML heparin sodium porcine 5000 UNT/ML Injection,1 ML medroxyPROGESTERone acetate 150 MG/ML Injection,1 ML medroxyprogesterone acetate 150 MG/ML Injection,10 ML Alfentanil 0.5 MG/ML Injection,...,exemestane 25 MG Oral Tablet,ferrous sulfate 325 MG Oral Tablet,insulin human isophane 70 UNT/ML / Regular Insulin Human 30 UNT/ML Injectable Suspension [Humulin],letrozole 2.5 MG Oral Tablet,palbociclib 100 MG Oral Capsule,predniSONE 20 MG Oral Tablet,predniSONE 5 MG Oral Tablet,pregabalin 100 MG Oral Capsule,remifentanil 2 MG Injection,ribociclib 200 MG Oral Tablet
count,26310.000000,26310.000000,26310.000000,26310.000000,26310.000000,26310.000000,26310.000000,26310.000000,26310.000000,26310.000000,...,26310.000000,26310.000000,26310.000000,26310.000000,26310.000000,26310.000000,26310.000000,26310.000000,26310.000000,26310.000000
mean,16.829571,16.829571,0.008742,1.145192,0.000190,0.000152,0.000190,0.066021,0.153630,0.000038,...,0.000114,22.727594,47.340669,0.000114,0.000228,0.000114,0.000152,0.000380,0.000038,0.000342
std,48.413107,48.413107,0.093090,10.413346,0.013785,0.017437,0.013785,0.902784,1.691865,0.006165,...,0.010678,99.154088,120.650650,0.010678,0.015100,0.010678,0.012329,0.019492,0.006165,0.018492
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,301.000000,301.000000,1.000000,120.000000,1.000000,2.000000,1.000000,24.000000,59.000000,1.000000,...,1.000000,960.000000,681.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [160]:
Medications.shape

(106421, 162)

In [161]:
Medications_t.shape

(26310, 162)

In [162]:
del medications, medications_t

In [163]:
#sum over dispenses lifetime to get an idea of the severity of the condition
#maybe later- number of antibiotics, number of blood pressure etc..

## Observations

In [164]:
options = np.setdiff1d(list(set(observations.DESCRIPTION)), 
                         list(set(observations_t.DESCRIPTION)))
list(options)

['Activities of daily living score [KOOS]',
 'Adenovirus A+B+C+D+E DNA [Presence] in Respiratory specimen by NAA with probe detection',
 'Basophils [#/volume] in Blood by Automated count',
 'Basophils/100 leukocytes in Blood by Automated count',
 'Bicarbonate [Moles/volume] in Arterial blood',
 'C reactive protein [Mass/volume] in Serum or Plasma',
 'Calcium [Mass/volume] in Serum or Plasma',
 'Carbon dioxide  total [Moles/volume] in Serum or Plasma',
 'Carbon dioxide [Partial pressure] in Arterial blood',
 'Chloride [Moles/volume] in Serum or Plasma',
 'Creatine kinase [Enzymatic activity/volume] in Serum or Plasma',
 'Creatinine [Mass/volume] in Serum or Plasma',
 'Eosinophils [#/volume] in Blood by Automated count',
 'Eosinophils/100 leukocytes in Blood by Automated count',
 'Erythrocyte distribution width [Ratio] by Automated count',
 'Ferritin [Mass/volume] in Serum or Plasma',
 'Fibrin D-dimer FEU [Mass/volume] in Platelet poor plasma',
 'Glucose [Mass/volume] in Serum or Plasma',
 'Human metapneumovirus RNA [Presence] in Respiratory specimen by NAA with probe detection',
 'INR in Platelet poor plasma by Coagulation assay',
 'Influenza virus A Ag [Presence] in Nasopharynx by Rapid immunoassay',
 'Influenza virus A RNA [Presence] in Respiratory specimen by NAA with probe detection',
 'Influenza virus B Ag [Presence] in Nasopharynx by Rapid immunoassay',
 'Influenza virus B RNA [Presence] in Respiratory specimen by NAA with probe detection',
 'Interleukin 6 [Mass/volume] in Serum or Plasma',
 'Lactate dehydrogenase [Enzymatic activity/volume] in Serum or Plasma by Lactate to pyruvate reaction',
 'Lymphocytes [#/volume] in Blood by Automated count',
 'Lymphocytes/100 leukocytes in Blood by Automated count',
 'Monocytes [#/volume] in Blood by Automated count',
 'Monocytes/100 leukocytes in Blood by Automated count',
 'Neutrophils [#/volume] in Blood by Automated count',
 'Neutrophils/100 leukocytes in Blood by Automated count',
 'Oxygen [Partial pressure] in Arterial blood',
 'Oxygen/Inspired gas setting [Volume Fraction] Ventilator',
 'PROMIS-29 Anxiety score',
 'PROMIS-29 Depression score',
 'PROMIS-29 Fatigue score',
 'PROMIS-29 Pain interference score',
 'PROMIS-29 Physical function score',
 'PROMIS-29 Satisfaction with participation in social roles score',
 'PROMIS-29 Sleep disturbance score',
 'Pain score [KOOS]',
 'Parainfluenza virus 1 RNA [Presence] in Respiratory specimen by NAA with probe detection',
 'Parainfluenza virus 2 RNA [Presence] in Respiratory specimen by NAA with probe detection',
 'Parainfluenza virus 3 RNA [Presence] in Respiratory specimen by NAA with probe detection',
 'Potassium [Moles/volume] in Serum or Plasma',
 'Procalcitonin [Mass/volume] in Serum or Plasma',
 'Prothrombin time (PT)',
 'Quality of life score [KOOS]',
 'Respiratory syncytial virus RNA [Presence] in Respiratory specimen by NAA with probe detection',
 'Rhinovirus RNA [Presence] in Respiratory specimen by NAA with probe detection',
 'SARS-CoV-2 RNA Pnl Resp NAA+probe',
 'Sodium [Moles/volume] in Serum or Plasma',
 'Sport-recreation score [KOOS]',
 'Symptoms score [KOOS]',
 'Troponin I.cardiac [Mass/volume] in Serum or Plasma by High sensitivity method',
 'Urea nitrogen [Mass/volume] in Serum or Plasma',
 'VR-36 Bodily pain (BP) score - oblique method',
 'VR-36 General health (GH) score - oblique method',
 'VR-36 Mental health (MH) score - oblique method',
 'VR-36 Physical functioning (PF) score - oblique method',
 'VR-36 Role emotion (RE) score - oblique method',
 'VR-36 Role physical (RP) score - oblique method',
 'VR-36 Social functioning (SF) score - oblique method',
 'VR-36 Vitality (VT) score - oblique method',
 'pH of Arterial blood']

In [165]:
observations_tmp = observations.loc[~observations.DESCRIPTION.isin(list(options))]

In [166]:
#FE for systolic and diastolic BP, max, min, average, last, weighted average, (body weight)

In [167]:
observations_tmp.head()

,DATE,PATIENT,ENCOUNTER,CODE,DESCRIPTION,VALUE,UNITS,TYPE
0,2000-12-20,93fa6213-73a1-4cce-b408-9986a4145801,d0105ca5-d725-44e9-aaee-51f0e04392e4,8310-5,Body temperature,37.9,Cel,numeric
1,2001-09-25,93fa6213-73a1-4cce-b408-9986a4145801,8c82b36e-c3ac-428c-b56d-d51d5a4b8b16,8302-2,Body Height,141.0,cm,numeric
2,2001-09-25,93fa6213-73a1-4cce-b408-9986a4145801,8c82b36e-c3ac-428c-b56d-d51d5a4b8b16,72514-3,Pain severity - 0-10 verbal numeric rating [Sc...,1.0,{score},numeric
3,2001-09-25,93fa6213-73a1-4cce-b408-9986a4145801,8c82b36e-c3ac-428c-b56d-d51d5a4b8b16,29463-7,Body Weight,34.7,kg,numeric
4,2001-09-25,93fa6213-73a1-4cce-b408-9986a4145801,8c82b36e-c3ac-428c-b56d-d51d5a4b8b16,39156-5,Body Mass Index,17.4,kg/m2,numeric

In [168]:
#To select which features to use
pd.DataFrame(observations.DESCRIPTION.value_counts()).to_csv('observations_counts.csv')

In [169]:
def Get_observations(observation):
    table = observations_tmp.loc[(observations_tmp.DESCRIPTION==observation)]
    table['VALUE'] = pd.to_numeric(table['VALUE']) 
    Pivot_table = pd.pivot_table(table, values='VALUE', index=['PATIENT'],
                        aggfunc=np.mean, fill_value=0)
    Pivot_table.columns = [observation]
    #Pivot_table['Id'] = Pivot_table.index
    
    table = observations_t.loc[(observations_t.DESCRIPTION==observation)]
    table['VALUE'] = pd.to_numeric(table['VALUE']) 
    Pivot_table_t = pd.pivot_table(table, values='VALUE', index=['PATIENT'],
                        aggfunc=np.mean, fill_value=0)
    Pivot_table_t.columns = [observation]
    #Pivot_table_t['Id'] = Pivot_table_t.index    
    
    return Pivot_table, Pivot_table_t

In [170]:
SBP_table, SBP_table_t = Get_observations('Systolic Blood Pressure')

In [171]:
DBP, DBP_t = Get_observations('Diastolic Blood Pressure')
HR, HR_t = Get_observations('Heart rate')
RR, RR_t = Get_observations('Respiratory rate')
Weight, Weight_t = Get_observations('Body Weight')
Oxygen, Oxygen_t = Get_observations('Oxygen saturation in Arterial blood')
Pain, Pain_t = Get_observations('Pain severity - 0-10 verbal numeric rating [Score] - Reported')
Temperature, Temperature_t= Get_observations('Body temperature')
Glomerular, Glomerular_t = Get_observations('Glomerular filtration rate/1.73 sq M.predicted')
Alkaline, Alkaline_t = Get_observations('Alkaline phosphatase [Enzymatic activity/volume] in Serum or Plasma')
Alanine, Alanine_t = Get_observations('Alanine aminotransferase [Enzymatic activity/volume] in Serum or Plasma')
Albumin, Albumin_t = Get_observations('Albumin [Mass/volume] in Serum or Plasma')
Aspartate, Aspartate_t = Get_observations('Aspartate aminotransferase [Enzymatic activity/volume] in Serum or Plasma')
Protein, Protein_t = Get_observations('Protein [Mass/volume] in Serum or Plasma')
Bilirubin, Bilirubin_t = Get_observations('Bilirubin.total [Mass/volume] in Serum or Plasma')
Hemoglobin, Hemoglobin_t = Get_observations('Hemoglobin [Mass/volume] in Blood')
MCV, MCV_t = Get_observations('MCV [Entitic volume] by Automated count')
MCHC, MCHC_t = Get_observations('MCHC [Mass/volume] by Automated count')
Platelets, Platelets_t = Get_observations('Platelets [#/volume] in Blood by Automated count')
MCH, MCH_t = Get_observations('MCH [Entitic mass] by Automated count')
Hematocrit, Hematocrit_t = Get_observations('Hematocrit [Volume Fraction] of Blood by Automated count')
Leukocytes, Leukocytes_t = Get_observations('Leukocytes [#/volume] in Blood by Automated count')
Erythrocytes, Erythrocytes_t = Get_observations('Erythrocytes [#/volume] in Blood by Automated count')
Carbon, Carbon_t= Get_observations('Carbon Dioxide')
Calcium, Calcium_t= Get_observations('Calcium')
Chloride, Chloride_t= Get_observations('Chloride')
Potassium, Potassium_t= Get_observations('Potassium')
Urea, Urea_t = Get_observations('Urea Nitrogen')
Creatinine, Creatinine_t= Get_observations('Creatinine')
Sodium, Sodium_t = Get_observations('Sodium')
Glucose, Glucose_t= Get_observations('Glucose')
Height, Height_t = Get_observations('Body Height')

In [172]:
BMI, BMI_t = Get_observations('Body Mass Index')
Low_Density_Cholesterol, Low_Density_Cholesterol_t = Get_observations('Low Density Lipoprotein Cholesterol')
High_Density_Cholesterol, High_Density_Cholesterol_t = Get_observations('High Density Lipoprotein Cholesterol')
Triglycerides, Triglycerides_t = Get_observations('Triglycerides')
Total_Cholesterol, Total_Cholesterol_t = Get_observations('Total Cholesterol')
Hemoglobin, Hemoglobin_t = Get_observations('Hemoglobin A1c/Hemoglobin.total in Blood')
Weight_difference, Weight_difference_t = Get_observations('Weight difference [Mass difference] --pre dialysis - post dialysis')
Microalbumin, Microalbumin_t = Get_observations('Microalbumin Creatinine Ratio')
GFR, GFR_t = Get_observations('Estimated Glomerular Filtration Rate')
DALY, DALY_t = Get_observations('DALY')
QOLS, QOLS_t = Get_observations('QOLS')
QALY, QALY_t = Get_observations('QALY')
Globulin, Globulin_t = Get_observations('Globulin [Mass/volume] in Serum by calculation')
Platelet_mean, Platelet_mean_t = Get_observations('Platelet mean volume [Entitic volume] in Blood by Automated count')
Platelet_distribution, Platelet_distribution_t = Get_observations('Platelet distribution width [Entitic volume] in Blood by Automated count')
Erythrocyte, Erythrocyte_t = Get_observations('Erythrocyte distribution width [Entitic volume] by Automated count')
pH_Urine, pH_Urine_t = Get_observations('pH of Urine by Test strip')
Ketones, Ketones_t = Get_observations('Ketones [Mass/volume] in Urine by Test strip')
BilirubinMass, BilirubinMass_t = Get_observations('Bilirubin.total [Mass/volume] in Urine by Test strip')
Glucose_Mass, Glucose_Mass_t = Get_observations('Glucose [Mass/volume] in Urine by Test strip')
Specific_gravity, Specific_gravity_t = Get_observations('Specific gravity of Urine by Test strip')
Protein_MassUrine, Protein_MassUrine_t = Get_observations('Protein [Mass/volume] in Urine by Test strip')

In [173]:
ProstateAg, ProstateAg_t = Get_observations('Prostate specific Ag [Mass/volume] in Serum or Plasma')
Left_ventricular, Left_ventricular_t = Get_observations('Left ventricular Ejection fraction')
FEV1_FVC, FEV1_FVC_t = Get_observations('FEV1/FVC')

In [174]:
frames = [SBP_table, DBP,HR, RR, Weight, Oxygen,Pain, Temperature, Glomerular, Alkaline, Alanine,
         Albumin, Aspartate, Protein, Bilirubin, Hemoglobin, MCV, MCHC, Platelets, MCH, Hematocrit,
         Leukocytes, Erythrocytes, Carbon, Calcium, Chloride, Potassium, Urea, Creatinine, Sodium,
         Glucose, Height, BMI, Low_Density_Cholesterol, High_Density_Cholesterol, Triglycerides, 
         Total_Cholesterol, Hemoglobin, Weight_difference, Microalbumin, GFR, DALY, QOLS, QALY, 
         Globulin, Platelet_mean, Platelet_distribution,
         Erythrocyte, pH_Urine, Ketones, BilirubinMass, Glucose_Mass, Specific_gravity, Protein_MassUrine,
         ProstateAg, Left_ventricular, FEV1_FVC]


Observations = pd.concat(frames, axis=1, sort=True)
Observations['Id'] = Observations.index
Observations.describe()

,Systolic Blood Pressure,Diastolic Blood Pressure,Heart rate,Respiratory rate,Body Weight,Oxygen saturation in Arterial blood,Pain severity - 0-10 verbal numeric rating [Score] - Reported,Body temperature,Glomerular filtration rate/1.73 sq M.predicted,Alkaline phosphatase [Enzymatic activity/volume] in Serum or Plasma,...,Erythrocyte distribution width [Entitic volume] by Automated count,pH of Urine by Test strip,Ketones [Mass/volume] in Urine by Test strip,Bilirubin.total [Mass/volume] in Urine by Test strip,Glucose [Mass/volume] in Urine by Test strip,Specific gravity of Urine by Test strip,Protein [Mass/volume] in Urine by Test strip,Prostate specific Ag [Mass/volume] in Serum or Plasma,Left ventricular Ejection fraction,FEV1/FVC
count,113840.000000,113840.000000,113836.000000,113836.000000,113836.000000,82309.000000,102516.000000,78315.000000,45172.000000,44823.000000,...,24657.000000,4330.000000,4330.000000,4330.000000,4330.000000,4330.0,4330.000000,12621.000000,5603.000000,5235.000000
mean,122.026043,80.760400,98.811897,19.032164,82.199685,81.440616,2.137821,39.717879,35.351417,79.271009,...,42.511811,6.000374,9.948783,0.850756,1.503804,1.0,321.570261,2.903534,39.525897,36.059459
std,13.242715,6.660293,25.811965,5.666463,13.620789,4.184954,1.273842,1.194641,31.386894,24.159415,...,1.954509,0.343429,3.418241,0.220234,0.339277,0.0,83.978854,1.758959,3.856822,20.684275
min,98.000000,67.000000,50.000000,12.000000,4.050000,65.000000,0.000000,37.000000,4.000000,20.000000,...,39.000000,5.000000,0.000000,0.200000,0.500000,1.0,50.100000,0.500000,30.200000,10.000000
25%,115.000000,77.285714,79.000000,14.100000,74.700000,79.000000,1.000000,38.900000,9.760000,69.355000,...,40.900000,5.833333,8.351136,0.750000,1.345455,1.0,324.700000,1.600000,36.750000,19.279167
50%,120.000000,79.800000,93.200000,17.033333,82.300000,81.834483,2.000000,39.607692,15.891288,78.615385,...,42.500000,6.000000,9.956090,0.850000,1.500000,1.0,346.304167,2.600000,39.500000,26.700000
75%,125.000000,82.062500,116.850000,23.500000,90.300000,84.000000,3.000000,40.500000,70.800000,88.261538,...,44.100000,6.166667,11.600000,0.953333,1.666667,1.0,362.173182,3.700000,42.300000,55.000000
max,202.000000,121.000000,200.000000,40.000000,198.800000,89.000000,10.000000,42.200000,150.000000,140.000000,...,46.000000,7.000000,20.000000,1.500000,2.500000,1.0,450.000000,7.700000,48.800000,85.500000

In [175]:
frames_t = [SBP_table_t, DBP_t, HR_t, RR_t, Weight_t, Oxygen,Pain_t, Temperature_t, Glomerular_t,
            Alkaline_t, Alanine_t,
            Albumin_t, Aspartate_t, Protein_t, Bilirubin_t, Hemoglobin_t, MCV_t, MCHC_t, 
            Platelets_t, MCH_t, Hematocrit_t,
            Leukocytes_t, Erythrocytes_t, Carbon_t, Calcium_t, Chloride_t, Potassium_t, Urea_t, 
            Creatinine_t, Sodium_t,
            Glucose_t, Height_t, BMI_t, Low_Density_Cholesterol_t, High_Density_Cholesterol_t,
            Triglycerides_t, Total_Cholesterol_t, 
            Hemoglobin_t,
            Weight_difference_t, Microalbumin_t,
            GFR_t, DALY_t, QOLS_t, QALY_t, Globulin_t, Platelet_mean_t, Platelet_distribution_t,
            Erythrocyte_t, pH_Urine_t, Ketones_t, BilirubinMass_t, Glucose_Mass_t, Specific_gravity_t,
            Protein_MassUrine_t,
            ProstateAg_t, Left_ventricular_t, FEV1_FVC_t]

frames_t

Observations_t = pd.concat(frames_t, axis=1, sort=True)
Observations_t['Id'] = Observations_t.index
Observations_t.describe()

,Systolic Blood Pressure,Diastolic Blood Pressure,Heart rate,Respiratory rate,Body Weight,Oxygen saturation in Arterial blood,Pain severity - 0-10 verbal numeric rating [Score] - Reported,Body temperature,Glomerular filtration rate/1.73 sq M.predicted,Alkaline phosphatase [Enzymatic activity/volume] in Serum or Plasma,...,Erythrocyte distribution width [Entitic volume] by Automated count,pH of Urine by Test strip,Ketones [Mass/volume] in Urine by Test strip,Bilirubin.total [Mass/volume] in Urine by Test strip,Glucose [Mass/volume] in Urine by Test strip,Specific gravity of Urine by Test strip,Protein [Mass/volume] in Urine by Test strip,Prostate specific Ag [Mass/volume] in Serum or Plasma,Left ventricular Ejection fraction,FEV1/FVC
count,19970.000000,19970.000000,19962.000000,19962.000000,19962.000000,82309.000000,20185.000000,1471.000000,5956.000000,5854.000000,...,4488.000000,941.000000,941.000000,941.000000,941.000000,941.0,941.000000,2432.000000,1379.000000,1141.000000
mean,122.254564,80.850010,79.970190,13.992644,82.022438,81.440616,2.167902,37.614933,54.525041,80.557724,...,42.512886,5.988535,10.143554,0.856178,1.485304,1.0,324.429199,2.850740,39.448441,36.226126
std,14.230206,7.180443,10.340307,1.031552,14.420766,4.184954,1.302540,0.450971,29.908927,31.965892,...,1.969283,0.332759,3.417865,0.228999,0.332263,0.0,81.284064,1.742951,3.881765,20.629652
min,98.000000,67.000000,60.000000,12.000000,3.950000,65.000000,0.000000,37.000000,4.000000,20.000000,...,39.000000,5.000000,0.100000,0.200000,0.500000,1.0,51.500000,0.500000,30.650000,10.000000
25%,114.000000,77.000000,72.000000,13.000000,74.800000,79.000000,1.000000,37.300000,20.262500,55.700000,...,40.800000,5.814286,8.370000,0.741667,1.314286,1.0,327.042857,1.500000,36.700000,19.000000
50%,120.000000,80.000000,80.000000,14.000000,82.600000,81.834483,2.000000,37.600000,68.500000,80.200000,...,42.521591,6.000000,10.041667,0.858333,1.485714,1.0,345.725000,2.600000,39.450000,27.200000
75%,127.000000,83.000000,88.000000,15.000000,90.500000,84.000000,3.000000,37.800000,79.300000,105.575000,...,44.100000,6.160000,11.825000,0.966667,1.663636,1.0,362.116667,3.600000,42.300000,55.500000
max,200.000000,121.500000,100.000000,16.000000,156.000000,89.000000,10.000000,39.400000,147.500000,140.000000,...,46.000000,7.000000,19.900000,1.500000,2.500000,1.0,448.900000,7.700000,48.750000,80.200000

In [176]:
def Get_observations_categorical(observation):
    table = observations_tmp.loc[(observations_tmp.DESCRIPTION==observation)]
    
    Pivot_table = pd.pivot_table(table, columns='VALUE', index=['PATIENT'], values='CODE',
                    aggfunc=len, fill_value=0)
    
    table = observations_t.loc[(observations_t.DESCRIPTION==observation)]
    
    Pivot_table_t = pd.pivot_table(table, columns='VALUE', index=['PATIENT'], values='CODE',
                    aggfunc=len, fill_value=0) 
    
    return Pivot_table, Pivot_table_t

In [177]:
Smoking, Smoking_t = Get_observations_categorical('Tobacco smoking status NHIS')

In [178]:
#Non numeric observations

## I don't understand this one BilirubinPresence, BilirubinPresence_t = Get_observations_categorical('Bilirubin.total [Presence] in Urine by Test strip')
Protein_urine, Protein_urine_t = Get_observations_categorical('Protein [Presence] in Urine by Test strip')
# I don't understand this one Appearance_urine, Appearance_urine_t = Get_observations_categorical('Appearance of Urine')
ClarityUrine, ClarityUrine_t = Get_observations_categorical('Clarity of Urine')
Odor, Odor_t = Get_observations_categorical('Odor of Urine')
### Leukocyte, Leukocyte_t = Get_observations_categorical('Leukocyte esterase [Presence] in Urine by Test strip')
Hemoglobin, Hemoglobin_t = Get_observations_categorical('Hemoglobin [Presence] in Urine by Test strip')
###Nitrite, Nitrite_t = Get_observations_categorical('Nitrite [Presence] in Urine by Test strip')
###Glucose_Presence, Glucose_Presence_t = Get_observations_categorical('Glucose [Presence] in Urine by Test strip')
Color_Urine, Color_Urine_t = Get_observations_categorical('Color of Urine')
Ketones_Presence, Ketones_Presence_t = Get_observations_categorical('Ketones [Presence] in Urine by Test strip')
### ?? Cause_Death, Cause_Death_t = Get_observations_categorical('Cause of Death [US Standard Certificate of Death]')
PhysicalProstate, PhysicalProstate_t= Get_observations_categorical('Physical findings of Prostate')

In [179]:
PhysicalProstate, PhysicalProstate_t= Get_observations_categorical('Physical findings of Prostate')

In [180]:
observations_tmp.loc[(observations_tmp.DESCRIPTION=='Glucose [Presence] in Urine by Test strip')].VALUE.value_counts()

#No Finding of bilirubin in urine (finding)
#No Cloudy urine
#Leukocyte ?????
#Nitrite ?????
# No Urine glucose test

Urine glucose test = ++ (finding)    33812
Name: VALUE, dtype: int64

In [181]:
frames = [Smoking, Protein_urine, ClarityUrine, Odor, Hemoglobin, Color_Urine, Ketones_Presence, PhysicalProstate]

frames

Observations_Cat = pd.concat(frames, axis=1, sort=True)
Observations_Cat['Id'] = Observations_Cat.index
Observations_Cat.describe()

VALUE,Current every day smoker,Former smoker,Never smoker,Urine protein test = + (finding),Urine protein test = ++ (finding),Urine protein test = +++ (finding),Cloudy urine (finding),Translucent (qualifier value),Foul smelling urine (finding),Urine smell ammoniacal (finding),Blood in urine (finding),Urine blood test = negative (finding),Brown color (qualifier value),Reddish color urine,Urine ketone test = + (finding),Urine ketone test = ++ (finding),Urine ketone test = +++ (finding),Urine ketone test = trace (finding),Normal size prostate,Prostate enlarged on PR
count,101980.000000,101980.000000,101980.000000,4330.000000,4330.000000,4330.000000,4330.000000,4330.000000,4330.000000,4330.000000,4330.000000,4330.000000,4330.000000,4330.000000,4330.000000,4330.000000,4330.000000,4330.000000,12621.000000,12621.000000
mean,0.001030,0.768739,1.356374,0.149654,0.017552,7.641570,0.422171,7.386605,0.422171,7.386605,0.422171,7.386605,7.386605,0.422171,0.016859,0.000693,7.641570,0.149654,0.401474,0.598526
std,0.033272,1.819296,2.160359,0.454699,0.162751,5.438068,0.729580,5.711166,0.729580,5.711166,0.729580,5.711166,5.711166,0.729580,0.157781,0.026316,5.438068,0.454699,0.490216,0.490216
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,1.000000,0.000000,0.000000,11.000000,0.000000,11.000000,0.000000,11.000000,0.000000,11.000000,11.000000,0.000000,0.000000,0.000000,11.000000,0.000000,0.000000,1.000000
75%,0.000000,1.000000,1.000000,0.000000,0.000000,12.000000,1.000000,12.000000,1.000000,12.000000,1.000000,12.000000,12.000000,1.000000,0.000000,0.000000,12.000000,0.000000,1.000000,1.000000
max,2.000000,16.000000,19.000000,2.000000,2.000000,27.000000,2.000000,27.000000,2.000000,27.000000,2.000000,27.000000,27.000000,2.000000,2.000000,1.000000,27.000000,2.000000,1.000000,1.000000

In [182]:
frames_t = [Smoking_t, Protein_urine_t, ClarityUrine_t, Odor_t, Hemoglobin_t, Color_Urine_t, Ketones_Presence_t,
            PhysicalProstate_t]

frames_t

Observations_Cat_t = pd.concat(frames_t, axis=1, sort=True)
Observations_Cat_t['Id'] = Observations_Cat_t.index
Observations_Cat_t.describe()

VALUE,Current every day smoker,Former smoker,Never smoker,Urine protein test = + (finding),Urine protein test = ++ (finding),Urine protein test = +++ (finding),Cloudy urine (finding),Translucent (qualifier value),Foul smelling urine (finding),Urine smell ammoniacal (finding),Blood in urine (finding),Urine blood test = negative (finding),Brown color (qualifier value),Reddish color urine,Urine ketone test = + (finding),Urine ketone test = ++ (finding),Urine ketone test = +++ (finding),Urine ketone test = trace (finding),Normal size prostate,Prostate enlarged on PR
count,19962.000000,19962.000000,19962.000000,941.000000,941.000000,941.000000,941.000000,941.000000,941.000000,941.000000,941.000000,941.000000,941.000000,941.000000,941.000000,941.000000,941.000000,941.000000,2432.000000,2432.000000
mean,0.001403,0.749825,1.253882,0.123273,0.018066,7.036132,0.352816,6.824655,0.352816,6.824655,0.352816,6.824655,6.824655,0.352816,0.014878,0.003188,7.036132,0.123273,0.409951,0.590049
std,0.038742,1.642984,1.864791,0.401725,0.148370,4.852809,0.683284,5.086702,0.683284,5.086702,0.683284,5.086702,5.086702,0.683284,0.129614,0.072863,4.852809,0.401725,0.491925,0.491925
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,1.000000,0.000000,0.000000,7.000000,0.000000,7.000000,0.000000,7.000000,0.000000,7.000000,7.000000,0.000000,0.000000,0.000000,7.000000,0.000000,0.000000,1.000000
75%,0.000000,1.000000,1.000000,0.000000,0.000000,12.000000,0.000000,12.000000,0.000000,12.000000,0.000000,12.000000,12.000000,0.000000,0.000000,0.000000,12.000000,0.000000,1.000000,1.000000
max,2.000000,16.000000,17.000000,3.000000,2.000000,24.000000,2.000000,24.000000,2.000000,24.000000,2.000000,24.000000,24.000000,2.000000,2.000000,2.000000,24.000000,3.000000,1.000000,1.000000

In [183]:
Observations_Cat.shape

(102160, 21)

In [184]:
Observations_Cat_t.shape

(20038, 21)

## Organizations

In [185]:
#Not used for now

In [186]:
organizations.head()

,Id,NAME,ADDRESS,CITY,STATE,ZIP,LAT,LON,PHONE,REVENUE,UTILIZATION
0,ef58ea08-d883-3957-8300-150554edc8fb,HEALTHALLIANCE HOSPITALS INC,60 HOSPITAL ROAD,LEOMINSTER,MA,01453,42.520838,-71.770876,9784662000,8.769262e+06,70736
1,69176529-fd1f-3b3f-abce-a0a3626769eb,MOUNT AUBURN HOSPITAL,330 MOUNT AUBURN STREET,CAMBRIDGE,MA,02138,42.375967,-71.118275,6174923500,1.771083e+07,142533
2,5e765f2b-e908-3888-9fc7-df2cb87beb58,STURDY MEMORIAL HOSPITAL,211 PARK STREET,ATTLEBORO,MA,02703,41.931653,-71.294503,5082225200,1.208046e+07,97513
3,f1fbcbfb-fcfa-3bd2-b7f4-df20f1b3c3a4,LAWRENCE GENERAL HOSPITAL,ONE GENERAL STREET,LAWRENCE,MA,01842,42.700273,-71.161357,9786834000,1.498201e+07,120855
4,e002090d-4e92-300e-b41e-7d1f21dee4c6,CAMBRIDGE HEALTH ALLIANCE,1493 CAMBRIDGE STREET,CAMBRIDGE,MA,02138,42.375967,-71.118275,6176652300,1.782066e+07,143667

In [187]:
len(set(organizations.Id))

9218

## Patients

In [188]:
patients['BIRTHDATE'] = pd.to_datetime(patients.BIRTHDATE)
patients_t['BIRTHDATE'] = pd.to_datetime(patients_t.BIRTHDATE)

In [189]:
patients['DEATHDATE'] = pd.to_datetime(patients.DEATHDATE) 
patients_t['DEATHDATE'] = pd.to_datetime(patients_t.DEATHDATE)

In [190]:
patients.shape

(117959, 25)

In [191]:
patients_t.shape

(29492, 25)

In [192]:
#Function to calculate the age. If the patient is death calculate age at death. 
#If there's no date of death, set the date to June 5 2020

In [193]:
def calculateAge(birthDate, deathdate): 
    today = date(2020, 6, 5)
    if pd.isna(deathdate)==False: 
        today = deathdate
    
    age = today.year - birthDate.year - ((today.month, today.day) < 
         (birthDate.month, birthDate.day)) 
  
    return age

In [194]:
result = map(calculateAge, patients['BIRTHDATE'], patients['DEATHDATE'])

In [195]:
patients['Age'] = list(result)

In [196]:
result_t = map(calculateAge, patients_t['BIRTHDATE'], patients_t['DEATHDATE'])

In [197]:
patients_t['Age'] = list(result_t)

In [198]:
#Convert to dummy if the patient has a drivers licence
patients['DRIVERS'] = ~pd.isna(patients.DRIVERS) *1
patients_t['DRIVERS'] = ~pd.isna(patients_t.DRIVERS) *1

In [199]:
#Convert to dummy if the patient has a passport
patients['PASSPORT'] = ~pd.isna(patients.PASSPORT) *1
patients_t['PASSPORT'] = ~pd.isna(patients_t.PASSPORT) *1

In [200]:
patients['PLACE_BIRTH'] = [patient[-2:] for patient in patients.BIRTHPLACE]
patients_t['PLACE_BIRTH'] = [patient[-2:] for patient in patients_t.BIRTHPLACE]

In [201]:
patients.STATE.value_counts()

Massachusetts    117959
Name: STATE, dtype: int64

In [202]:
patients_t.STATE.value_counts()

Massachusetts    29492
Name: STATE, dtype: int64

In [203]:
patients.head()

,Id,BIRTHDATE,DEATHDATE,SSN,DRIVERS,PASSPORT,PREFIX,FIRST,LAST,SUFFIX,...,CITY,STATE,COUNTY,ZIP,LAT,LON,HEALTHCARE_EXPENSES,HEALTHCARE_COVERAGE,Age,PLACE_BIRTH
0,93fa6213-73a1-4cce-b408-9986a4145801,1989-09-05,2001-12-04,999-87-8276,0,0,NaN,Roland928,Wolff180,NaN,...,Weston,Massachusetts,Middlesex County,NaN,42.398277,-71.289383,6520.55,0.00,12,US
1,53bbfa41-5cab-422e-a8a7-8fa3ae55ed71,1997-09-25,NaT,999-96-1808,1,1,Mr.,Jorge203,Chavarría957,NaN,...,Dracut,Massachusetts,Middlesex County,NaN,42.691016,-71.275475,545777.93,3282.24,22,MX
2,30fb496e-b8d3-4d36-8e50-86acb3d1a223,1981-09-11,NaT,999-89-5604,1,1,Mr.,Octavio643,Schneider199,NaN,...,Westfield,Massachusetts,Hampden County,1086.0,42.174484,-72.784777,1039005.83,2796.44,38,US
3,afa2680f-7f73-46d9-b0cd-2cf3db49724b,1978-06-16,NaT,999-21-2569,1,1,Mrs.,Janeth814,Beatty507,NaN,...,Wakefield,Massachusetts,Middlesex County,1880.0,42.460402,-71.113293,878157.60,8128.09,41,US
4,26e5d262-6cdc-4274-a5cd-d7fd439e35f9,1989-09-05,NaT,999-39-4400,1,1,Mr.,Adrian111,Blanda868,NaN,...,Weston,Massachusetts,Middlesex County,NaN,42.338808,-71.341510,21147.02,0.00,30,US

In [204]:
patients.Age.describe()

count    117959.000000
mean         55.384600
std          18.783242
min           0.000000
25%          40.000000
50%          59.000000
75%          71.000000
max          84.000000
Name: Age, dtype: float64

In [205]:
patients_t.Age.describe()

count    29492.00000
mean        55.33426
std         18.95706
min          0.00000
25%         41.00000
50%         59.00000
75%         71.00000
max         84.00000
Name: Age, dtype: float64

In [206]:
#ask why children

## Payers

In [207]:
#Not used for now

In [208]:
payers

,Id,NAME,ADDRESS,CITY,STATE_HEADQUARTERED,ZIP,PHONE,AMOUNT_COVERED,AMOUNT_UNCOVERED,REVENUE,...,UNCOVERED_ENCOUNTERS,COVERED_MEDICATIONS,UNCOVERED_MEDICATIONS,COVERED_PROCEDURES,UNCOVERED_PROCEDURES,COVERED_IMMUNIZATIONS,UNCOVERED_IMMUNIZATIONS,UNIQUE_CUSTOMERS,QOLS_AVG,MEMBER_MONTHS
0,b3221cfc-24fb-339e-823d-bc4136cbc4ed,Dual Eligible,7500 Security Blvd,Baltimore,MD,21244.0,1-877-267-2323,2.317270e+08,5.944733e+07,2.846480e+08,...,0,374702,0,184811,0,48931,0,6330,0.369611,728640
1,7caa7254-5050-3b5e-9eae-bd5ea30e809c,Medicare,7500 Security Blvd,Baltimore,MD,21244.0,1-800-633-4227,3.076747e+09,2.988453e+08,1.425032e+09,...,0,4547705,0,2502649,0,497833,0,51755,0.649380,6031836
2,7c4411ce-02f1-39b5-b9ec-dfbea9ad3c1a,Medicaid,7500 Security Blvd,Baltimore,MD,21244.0,1-877-267-2323,6.546804e+08,3.209265e+08,2.937064e+09,...,0,1412214,0,7425083,0,883172,0,72014,0.715015,12645216
3,d47b3510-2895-3b70-9897-342d681c769d,Humana,500 West Main St,Louisville,KY,40018.0,1-844-330-7799,1.287007e+08,1.812596e+08,2.221149e+10,...,481770,0,1473391,2382908,108651,986757,60506,41885,0.866932,13127004
4,6e2f1a2d-27bd-3701-8d08-dae202c58632,Blue Cross Blue Shield,Michigan Plaza,Chicago,IL,60007.0,1-800-262-2583,5.170274e+08,2.988383e+08,2.243604e+10,...,0,1545782,0,2448575,0,994200,0,40255,0.864055,12523968
5,5059a55e-5d6e-34d1-b6cb-d83d16e57bcf,UnitedHealthcare,9800 Healthcare Lane,Minnetonka,MN,55436.0,1-888-545-5205,1.402037e+08,1.464890e+08,2.297436e+10,...,458962,0,1397366,2196645,103653,909209,56285,39444,0.865357,12152040
6,4d71f845-a6a9-3c39-b242-14d25ef86a8d,Aetna,151 Farmington Ave,Hartford,CT,6156.0,1-800-872-3862,1.497460e+08,1.353678e+08,2.395849e+10,...,455819,0,1402156,2171056,100487,897085,56738,39011,0.864521,12038928
7,047f6ec3-6215-35eb-9608-f9dda363a44c,Cigna Health,900 Cottage Grove Rd,Bloomfield,CT,6002.0,1-800-997-1654,1.573004e+08,1.227254e+08,2.433731e+10,...,437977,0,1368941,2151434,96521,874918,54404,38164,0.865437,11646732
8,42c4fca7-f8a9-3cd1-982a-dd9751bf3e2a,Anthem,220 Virginia Ave,Indianapolis,IN,46204.0,1-800-331-1476,7.703266e+07,4.510517e+07,2.532505e+10,...,1634218,0,1368662,453621,1747191,861851,57628,37798,0.864544,11567760
9,b1c428d6-4f07-31e0-90f0-68ffa6ff8c76,NO_INSURANCE,NaN,NaN,NaN,NaN,NaN,0.000000e+00,3.503757e+09,0.000000e+00,...,2744495,0,1978072,0,2177862,0,633465,15155,1.062814,7268712

In [209]:
payers.NAME.value_counts()

Medicare                  1
UnitedHealthcare          1
Medicaid                  1
NO_INSURANCE              1
Dual Eligible             1
Humana                    1
Aetna                     1
Blue Cross Blue Shield    1
Anthem                    1
Cigna Health              1
Name: NAME, dtype: int64

Aggregate of all plans

## Payer transitions

In [210]:
#Not used for now

In [211]:
payer_transitions.head()

,PATIENT,START_YEAR,END_YEAR,PAYER,OWNERSHIP
0,93fa6213-73a1-4cce-b408-9986a4145801,1989,1989,b1c428d6-4f07-31e0-90f0-68ffa6ff8c76,NaN
1,93fa6213-73a1-4cce-b408-9986a4145801,1990,2001,b1c428d6-4f07-31e0-90f0-68ffa6ff8c76,NaN
2,53bbfa41-5cab-422e-a8a7-8fa3ae55ed71,1997,2015,4d71f845-a6a9-3c39-b242-14d25ef86a8d,Guardian
3,30fb496e-b8d3-4d36-8e50-86acb3d1a223,1981,1999,42c4fca7-f8a9-3cd1-982a-dd9751bf3e2a,Guardian
4,afa2680f-7f73-46d9-b0cd-2cf3db49724b,1978,1996,6e2f1a2d-27bd-3701-8d08-dae202c58632,Guardian

## Procedures

In [212]:
procedures.head()

,DATE,PATIENT,ENCOUNTER,CODE,DESCRIPTION,BASE_COST,REASONCODE,REASONDESCRIPTION
0,2001-09-25,93fa6213-73a1-4cce-b408-9986a4145801,8c82b36e-c3ac-428c-b56d-d51d5a4b8b16,430193006,Medication Reconciliation (procedure),750.79,NaN,NaN
1,2001-12-04,93fa6213-73a1-4cce-b408-9986a4145801,1123f059-daf8-4a9e-be5f-e1eee5fcdb48,40701008,Echocardiography (procedure),1127.50,22298006.0,Myocardial Infarction
2,2001-12-04,93fa6213-73a1-4cce-b408-9986a4145801,1123f059-daf8-4a9e-be5f-e1eee5fcdb48,415070008,Percutaneous coronary intervention,21860.94,22298006.0,Myocardial Infarction
3,2001-12-04,93fa6213-73a1-4cce-b408-9986a4145801,1123f059-daf8-4a9e-be5f-e1eee5fcdb48,232717009,Coronary artery bypass grafting,49880.21,22298006.0,Myocardial Infarction
4,2019-11-27,53bbfa41-5cab-422e-a8a7-8fa3ae55ed71,e3e925da-97a5-4af9-98ce-600244252bc9,430193006,Medication Reconciliation (procedure),623.16,NaN,NaN

In [213]:
options = np.setdiff1d(list(set(procedures.DESCRIPTION)), list(set(procedures_t.DESCRIPTION)))
options

array(['Admission to neurosurgical department',
       'Amputation of right foot', 'Asthma screening',
       'Controlled ventilation procedure and therapy  initiation and management (procedure)',
       'Face mask (physical object)', 'Hemodialysis (procedure)',
       'Heparin therapy (procedure)',
       'Insertion of endotracheal tube (procedure)', 'Lung Transplant',
       'Microbial culture (procedure)',
       'Oxygen administration by mask (procedure)',
       'Placing subject in prone position (procedure)',
       'Removal of endotracheal tube (procedure)',
       'Transfusion of plasma (procedure)', 'negative screening for PHQ9'],
      dtype='<U105')

In [214]:
procedures_tmp = procedures.loc[~procedures.DESCRIPTION.isin(list(options))]

In [215]:
options = np.setdiff1d(list(set(procedures_t.DESCRIPTION)), list(set(procedures.DESCRIPTION)))
options

array([], dtype='<U105')

In [216]:
options = np.setdiff1d(list(set(procedures.REASONDESCRIPTION)), list(set(procedures_t.REASONDESCRIPTION)))
options

array(['Acute deep venous thrombosis (disorder)',
       'Acute pulmonary embolism (disorder)',
       'Acute respiratory failure (disorder)', 'Asthma',
       'Attempted suicide - cut/stab', 'COVID-19', 'Childhood asthma',
       'Cystic Fibrosis',
       'Fracture of the vertebral column with spinal cord injury',
       'Hypoxemia (disorder)',
       'Neuropathy due to type 2 diabetes mellitus (disorder)',
       'Non-small cell carcinoma of lung  TNM stage 2 (disorder)',
       'Septic shock (disorder)', 'Suspected COVID-19'], dtype='<U69')

In [217]:
procedures_tmp = procedures_tmp.loc[~procedures_tmp.REASONDESCRIPTION.isin(list(options))]

In [218]:
Procedures = Pivot_table_counts(procedures_tmp)

In [219]:
Procedures_t = Pivot_table_counts(procedures_t)

In [220]:
ProceduresReason = Pivot_table_counts(procedures_tmp, 'REASONDESCRIPTION')

In [221]:
ProceduresReason_t = Pivot_table_counts(procedures_t, 'REASONDESCRIPTION')

In [222]:
Procedures.describe()

DESCRIPTION,Admission to burn unit,Admission to long stay hospital,Admission to orthopedic department,Admission to trauma surgery department,Allergy screening test,Alpha-fetoprotein test,Ankle X-ray,Antenatal RhD antibody screening,Appendectomy,Augmentation of labor,...,Urine culture,Urine protein test,Urine screening for glucose,Urine screening test for diabetes,Vaccination for diphtheria pertussis and tetanus,Vasectomy,X-ray or wrist,negative screening for depression on phq9,positive screening for PHQ-9,positive screening for depression on phq9
count,93264.000000,93264.000000,93264.000000,93264.000000,93264.000000,93264.000000,93264.000000,93264.000000,93264.000000,93264.000000,...,93264.000000,93264.000000,93264.000000,93264.000000,93264.000000,93264.000000,93264.000000,93264.000000,93264.000000,93264.000000
mean,0.000204,0.000225,0.007270,0.000225,0.001565,0.026591,0.004418,0.003774,0.000933,0.002681,...,0.027846,0.027846,0.027095,0.027846,0.027095,0.000461,0.004385,0.000129,0.000075,0.000075
std,0.014272,0.015004,0.084952,0.015004,0.044870,0.160886,0.066318,0.061494,0.030528,0.051705,...,0.165506,0.165506,0.162428,0.165506,0.162428,0.021467,0.066077,0.011342,0.008663,0.012682
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,2.000000,1.000000,1.000000,2.000000,1.000000,1.000000,...,2.000000,2.000000,2.000000,2.000000,2.000000,1.000000,1.000000,1.000000,1.000000,3.000000

In [223]:
ProceduresReason_t.describe()

REASONDESCRIPTION,Acute bronchitis (disorder),Acute viral pharyngitis (disorder),Appendicitis,Atrial Fibrillation,Bullet wound,Cardiac Arrest,Child attention deficit disorder,Chronic obstructive bronchitis (disorder),Closed fracture of hip,Facial laceration,...,Pulmonary emphysema (disorder),Recurrent rectal polyp,Rupture of patellar tendon,Secondary malignant neoplasm of colon,Streptococcal sore throat (disorder),Stroke,Suicidal deliberate poisoning,Suspected lung cancer (situation),Third degree burn,Tubal pregnancy
count,8741.000000,8741.000000,8741.000000,8741.000000,8741.000000,8741.000000,8741.000000,8741.000000,8741.000000,8741.000000,...,8741.000000,8741.000000,8741.000000,8741.000000,8741.000000,8741.000000,8741.000000,8741.000000,8741.000000,8741.000000
mean,0.095412,0.025626,0.001258,0.708500,0.000343,0.078938,0.005263,0.211303,0.004805,0.009610,...,0.256836,0.006521,0.001258,0.000343,0.016131,0.099531,0.000343,0.045533,0.001602,0.000343
std,0.295741,0.158027,0.035454,3.307665,0.018524,0.480219,0.223289,1.349494,0.085437,0.110746,...,1.527640,0.080494,0.035454,0.032088,0.126891,0.435996,0.032088,0.363664,0.056578,0.018524
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,2.000000,1.000000,1.000000,45.000000,1.000000,3.000000,11.000000,24.000000,2.000000,2.000000,...,22.000000,1.000000,1.000000,3.000000,2.000000,4.000000,3.000000,3.000000,2.000000,1.000000

In [224]:
Procedures_t['Nasal sinus endoscopy (procedure)'].describe()

count    18423.000000
mean         0.001086
std          0.032931
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: Nasal sinus endoscopy (procedure), dtype: float64

In [225]:
Procedures['Nasal sinus endoscopy (procedure)'].describe()

count    93264.000000
mean         0.000922
std          0.030352
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: Nasal sinus endoscopy (procedure), dtype: float64

In [226]:
del procedures_tmp, procedures_t

## Providers

In [227]:
#Not used for now

In [228]:
providers.head()

,Id,ORGANIZATION,NAME,GENDER,SPECIALITY,ADDRESS,CITY,STATE,ZIP,LAT,LON,UTILIZATION
0,cba1b82b-94ec-3964-8914-81e8c10b120f,ef58ea08-d883-3957-8300-150554edc8fb,Huey641 Wiegand701,M,GENERAL PRACTICE,60 HOSPITAL ROAD,LEOMINSTER,MA,01453,42.520838,-71.770876,70736
1,a7ba30c7-9670-3225-b903-fb1922acf40d,69176529-fd1f-3b3f-abce-a0a3626769eb,Jason347 Murazik203,M,GENERAL PRACTICE,330 MOUNT AUBURN STREET,CAMBRIDGE,MA,02138,42.375967,-71.118275,142533
2,85d8543d-92ee-3bd8-9760-32eec0a2c055,5e765f2b-e908-3888-9fc7-df2cb87beb58,Cristie97 Flatley871,F,GENERAL PRACTICE,211 PARK STREET,ATTLEBORO,MA,02703,41.931653,-71.294503,97513
3,2dd2acb4-a04b-38d4-a183-c68476592301,f1fbcbfb-fcfa-3bd2-b7f4-df20f1b3c3a4,Tran115 Stoltenberg489,F,GENERAL PRACTICE,ONE GENERAL STREET,LAWRENCE,MA,01842,42.700273,-71.161357,120855
4,dae8b93d-6067-3d93-b1a3-e72f5997e263,e002090d-4e92-300e-b41e-7d1f21dee4c6,Dennis979 Watsica258,M,GENERAL PRACTICE,1493 CAMBRIDGE STREET,CAMBRIDGE,MA,02138,42.375967,-71.118275,143667

In [229]:
providers.shape

(60968, 12)

## Supplies

In [230]:
#Not used for now as it doesn't exist in test set - confirmed by team not useful

In [231]:
#supplies.head()

# Merge Tables

## Tables in the train dataset

In [232]:
#Define how to fill missing

In [233]:
train = pd.merge(patients, Allergies,  on='Id', how='left')

In [234]:
train = pd.merge(train, Careplans,  on='Id', how='left')

In [235]:
train = pd.merge(train, Careplans_reason,  on='Id', how='left')

In [236]:
train = pd.merge(train, Conditions,  on='Id', how='left')

In [237]:
train = pd.merge(train, Devices,  on='Id', how='left') 

#Negative for non presence as opposed to missing

train['Coronary artery stent (physical object)'] = train['Coronary artery stent (physical object)'].fillna(0)
train['Implantable cardiac pacemaker (physical object)'] = train['Implantable cardiac pacemaker (physical object)'].fillna(0)
train['Implantable defibrillator  device (physical object)'] = train['Implantable defibrillator  device (physical object)'].fillna(0)

In [238]:
train = pd.merge(train, Encounters,  on='Id', how='left')

In [239]:
train = pd.merge(train, Encounters_reason,  on='Id', how='left')

In [240]:
train = pd.merge(train, Imaging_studies,  on='Id', how='left')

In [241]:
train = pd.merge(train, Imaging_studies_mod,  on='Id', how='left')

In [242]:
train = pd.merge(train, Immunizations,  on='Id', how='left')

In [243]:
train = pd.merge(train, Medications,  on='Id', how='left')

In [244]:
#Observations
train = pd.merge(train, Observations,  on='Id', how='left')

In [245]:
train = pd.merge(train, Observations_Cat,  on='Id', how='left')

In [246]:
train = pd.merge(train, Procedures,  on='Id', how='left')

In [247]:
train = pd.merge(train, ProceduresReason,  on='Id', how='left')

In [248]:
train.shape

(117959, 951)

In [249]:
train.shape

(117959, 951)

## Tables in the Test Dataset

In [250]:
test = pd.merge(patients_t, Allergies_t,  on='Id', how='left')

In [251]:
test = pd.merge(test, Careplans_t,  on='Id', how='left')

In [252]:
test = pd.merge(test, Careplans_reason_t,  on='Id', how='left')

In [253]:
test = pd.merge(test, Conditions_t,  on='Id', how='left')

In [254]:
test = pd.merge(test, Devices_t,  on='Id', how='left')

#Negative for non presence as opposed to missing

test['Coronary artery stent (physical object)'] = test['Coronary artery stent (physical object)'].fillna(0)
test['Implantable cardiac pacemaker (physical object)'] = test['Implantable cardiac pacemaker (physical object)'].fillna(0)
test['Implantable defibrillator  device (physical object)'] = test['Implantable defibrillator  device (physical object)'].fillna(0)

In [255]:
test = pd.merge(test, Encounters_t,  on='Id', how='left')

In [256]:
test = pd.merge(test, Encounters_reason_t,  on='Id', how='left')

In [257]:
test = pd.merge(test, Imaging_studies_t,  on='Id', how='left')

In [258]:
test = pd.merge(test, Imaging_studies_mod_t,  on='Id', how='left')

In [259]:
test = pd.merge(test, Immunizations_t,  on='Id', how='left')

In [260]:
test = pd.merge(test, Medications_t,  on='Id', how='left')

In [261]:
test = pd.merge(test, Observations_t,  on='Id', how='left')

In [262]:
test = pd.merge(test, Observations_Cat_t,  on='Id', how='left')

In [263]:
test = pd.merge(test, Procedures_t,  on='Id', how='left')

In [264]:
test = pd.merge(test, ProceduresReason_t,  on='Id', how='left')

In [265]:
test.shape

(29492, 951)

In [266]:
test.shape

(29492, 951)

## COVID Status

In [267]:
CoVID_status = pd.DataFrame()

In [268]:
#identify patients diagnosed with COVID-19
covid_patient_ids = conditions[conditions.CODE==840539006].PATIENT.unique()

In [269]:
COVID_Positive = pd.DataFrame({'Id' : covid_patient_ids, 'COVID_Status' : 1})

In [270]:
patient_ids = conditions.PATIENT.unique()
len(patient_ids)

117626

In [271]:
len(covid_patient_ids) 
#The database has 73697 patients positive for COVID-19

73697

In [272]:
observations[(observations.CODE == '94531-1')].VALUE.value_counts()

Detected (qualifier value)        73697
Not detected (qualifier value)    31851
Name: VALUE, dtype: int64

In [273]:
len(observations[(observations.CODE == '94531-1')].PATIENT.unique())

75417

In [274]:
covid_patient_ids = observations[(observations.CODE == '94531-1') &
                        (observations.VALUE == 'Detected (qualifier value)')].PATIENT.unique()

In [275]:
len(covid_patient_ids)

73697

In [276]:
#identify patients with a negative SARS-CoV-2 test - this list may not be good as some patients overalp
negative_covid_patient_ids = observations[(observations.CODE == '94531-1') &
                        (observations.VALUE == 'Not detected (qualifier value)')].PATIENT.unique()

In [277]:
len(negative_covid_patient_ids)

16787

In [278]:
#in both lists

both = [x for x in covid_patient_ids.tolist() if x in negative_covid_patient_ids.tolist()]
len(both)

15067

In [279]:
negative_covid_patient = [x for x in negative_covid_patient_ids.tolist() if x not in covid_patient_ids.tolist()]

In [280]:
len(negative_covid_patient)

1720

In [281]:
COVID_Negative = pd.DataFrame({'Id' : negative_covid_patient, 'COVID_Status' : 0})

In [282]:
CoVID_status = pd.concat([COVID_Positive, COVID_Negative], axis=0)

In [283]:
len(CoVID_status.Id.unique())

75417

In [284]:
del COVID_Positive, COVID_Negative

In [285]:
CoVID_status.shape

(75417, 2)

In [286]:
len(negative_covid_patient_ids)

16787

In [287]:
No_test = [p for p in patients.Id.tolist() if p not in list(covid_patient_ids) + list(negative_covid_patient)]

In [288]:
len(No_test)

42542

In [289]:
No_test = pd.DataFrame({'Id' : No_test, 'No_test' : 1})

In [290]:
#27142 are neither - I decided to delete those! We have a lot of deaths before 2019

In [291]:
#Patients in train without COVID test
train_no_test = pd.merge(train, No_test,  on='Id', how='right')
train_no_test.shape

(42542, 952)

In [292]:
#Main Table

train = pd.merge(train, CoVID_status,  on='Id', how='right')
train.shape

(75417, 952)

In [293]:
del CoVID_status

## Death due to COVID status

In [294]:
covid_patient_ids

array(['afa2680f-7f73-46d9-b0cd-2cf3db49724b',
       '26e5d262-6cdc-4274-a5cd-d7fd439e35f9',
       '90031c21-e8a4-416e-b60b-23e871ee62dc', ...,
       '8722685f-ce37-4520-ab95-22b6929526c2',
       '62e3e406-8375-4cf5-aae7-0d489e40e73c',
       '18b4b304-dddd-41e8-a13d-08a3285552be'], dtype=object)

In [295]:
#Calculate death status
deceased_ids = np.intersect1d(covid_patient_ids, patients[patients.DEATHDATE.notna()].Id)

In [296]:
len(deceased_ids)

5568

In [297]:
DeceasedDB = pd.DataFrame({'Id': deceased_ids, 'Death': 1})

In [298]:
DeceasedDB.shape

(5568, 2)

In [299]:
train = pd.merge(train, DeceasedDB,  on='Id', how='left')

In [300]:
train.shape

(75417, 953)

In [301]:
del DeceasedDB

In [302]:
train['Death'] = train.Death.fillna(0)

In [303]:
train.head()

,Id,BIRTHDATE,DEATHDATE,SSN,DRIVERS,PASSPORT,PREFIX,FIRST,LAST,SUFFIX,...,Rupture of patellar tendon_y,Secondary malignant neoplasm of colon_y,Streptococcal sore throat (disorder),Stroke_y,Suicidal deliberate poisoning_y,Suspected lung cancer (situation),Third degree burn_y,Tubal pregnancy,COVID_Status,Death
0,30fb496e-b8d3-4d36-8e50-86acb3d1a223,1981-09-11,NaT,999-89-5604,1,1,Mr.,Octavio643,Schneider199,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.0
1,afa2680f-7f73-46d9-b0cd-2cf3db49724b,1978-06-16,NaT,999-21-2569,1,1,Mrs.,Janeth814,Beatty507,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0.0
2,26e5d262-6cdc-4274-a5cd-d7fd439e35f9,1989-09-05,NaT,999-39-4400,1,1,Mr.,Adrian111,Blanda868,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0.0
3,90031c21-e8a4-416e-b60b-23e871ee62dc,1983-07-24,NaT,999-86-1503,1,1,Mrs.,Peggie783,Turcotte120,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0.0
4,0ac2e031-ab88-41f9-ac5d-d7d588952222,1996-02-17,NaT,999-28-9132,1,1,Mr.,Cecil300,Barton704,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0.0

In [304]:
train.COVID_Status.describe()

count    75417.000000
mean         0.977193
std          0.149287
min          0.000000
25%          1.000000
50%          1.000000
75%          1.000000
max          1.000000
Name: COVID_Status, dtype: float64

In [305]:
train.Death.describe()

count    75417.000000
mean         0.073830
std          0.261495
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: Death, dtype: float64

## Hospitalized COVID patients

In [306]:
inpatient_ids = encounters[(encounters.REASONCODE == 840539006) & (encounters.CODE == 1505002)].PATIENT

In [307]:
LOS_hospital = encounters[(encounters.REASONCODE == 840539006) & (encounters.CODE == 1505002)].Days_hospitalized

In [308]:
Hospitalized = pd.DataFrame({'Id': inpatient_ids,
                             'Days_hospitalized': LOS_hospital,
                             'Hospitalized': 1})

In [309]:
train = pd.merge(train, Hospitalized,  on='Id', how='left')

In [310]:
train['Hospitalized'] = train.Hospitalized.fillna(0)

In [311]:
del Hospitalized

In [312]:
train.shape

(75417, 955)

## Ventilated COVID

In [313]:
vent_ids = procedures[(procedures.CODE == 26763009) & (procedures.PATIENT.isin(covid_patient_ids))].PATIENT.unique()

In [314]:
len(vent_ids)

4210

In [315]:
Ventilator = pd.DataFrame({'Id': vent_ids, 'Ventilator': 1})

In [316]:
Ventilator.head()

                                     Id  Ventilator
0  c58ae02e-235e-4db2-a9c3-6926e9c0c5fa           1
1  52e1f151-e98b-4163-a250-5e7d5c6ff813           1
2  534e1ef3-b3c7-42da-a022-fea54d6c828f           1
3  5158d043-8c93-4987-8fcb-5f94e7e32fa1           1
4  b5499d4a-6660-4b09-bfc0-e3d33e3dcb5e           1

In [317]:
Ventilator.shape

(4210, 2)

In [318]:
train = pd.merge(train, Ventilator, on='Id', how='left')

In [319]:
train['Ventilator'] = train.Ventilator.fillna(0)

In [320]:
del Ventilator

## ICU COVID

In [321]:
icu_ids = encounters[(encounters.CODE == 305351004) &(encounters.PATIENT.isin(covid_patient_ids))].PATIENT.unique()

In [322]:
len(icu_ids)

4981

In [323]:
LOS_ICU = encounters[(encounters.CODE == 305351004) &(encounters.PATIENT.isin(covid_patient_ids))].Days_hospitalized

In [324]:
ICU = pd.DataFrame({'Id': icu_ids, 'Days_ICU': LOS_ICU, 'ICU': 1})

In [325]:
train = pd.merge(train, ICU,  on='Id', how='left')

In [326]:
train['ICU'] = train.ICU.fillna(0)

In [327]:
del ICU

In [328]:
train.head()

,Id,BIRTHDATE,DEATHDATE,SSN,DRIVERS,PASSPORT,PREFIX,FIRST,LAST,SUFFIX,...,Suspected lung cancer (situation),Third degree burn_y,Tubal pregnancy,COVID_Status,Death,Days_hospitalized,Hospitalized,Ventilator,Days_ICU,ICU
0,30fb496e-b8d3-4d36-8e50-86acb3d1a223,1981-09-11,NaT,999-89-5604,1,1,Mr.,Octavio643,Schneider199,NaN,...,NaN,NaN,NaN,0,0.0,NaT,0.0,0.0,NaT,0.0
1,afa2680f-7f73-46d9-b0cd-2cf3db49724b,1978-06-16,NaT,999-21-2569,1,1,Mrs.,Janeth814,Beatty507,NaN,...,NaN,NaN,NaN,1,0.0,NaT,0.0,0.0,NaT,0.0
2,26e5d262-6cdc-4274-a5cd-d7fd439e35f9,1989-09-05,NaT,999-39-4400,1,1,Mr.,Adrian111,Blanda868,NaN,...,NaN,NaN,NaN,1,0.0,17 days 07:17:00,1.0,0.0,NaT,0.0
3,90031c21-e8a4-416e-b60b-23e871ee62dc,1983-07-24,NaT,999-86-1503,1,1,Mrs.,Peggie783,Turcotte120,NaN,...,0.0,0.0,0.0,1,0.0,20 days 07:47:00,1.0,0.0,NaT,0.0
4,0ac2e031-ab88-41f9-ac5d-d7d588952222,1996-02-17,NaT,999-28-9132,1,1,Mr.,Cecil300,Barton704,NaN,...,NaN,NaN,NaN,1,0.0,NaT,0.0,0.0,NaT,0.0

In [329]:
train.shape

(75417, 958)

# Export File for analysis

In [330]:
drop = ['SSN', 'PREFIX', 'FIRST', 'LAST', 'SUFFIX', 'MAIDEN', 'ADDRESS',
                      'BIRTHDATE', 'DEATHDATE', 'BIRTHPLACE', 'STATE']
train.drop(columns = drop, inplace=True)

In [331]:
train.to_csv('train.csv', index=False)

In [332]:
test.drop(columns=drop, inplace=True)

In [333]:
test.to_csv('test.csv', index=False)

In [334]:
test.head()

,Id,DRIVERS,PASSPORT,MARITAL,RACE,ETHNICITY,GENDER,CITY,COUNTY,ZIP,...,Pulmonary emphysema (disorder)_y,Recurrent rectal polyp_y,Rupture of patellar tendon_y,Secondary malignant neoplasm of colon_y,Streptococcal sore throat (disorder),Stroke_y,Suicidal deliberate poisoning_y,Suspected lung cancer (situation),Third degree burn_y,Tubal pregnancy
0,8c6f61a6-1beb-4b51-980e-381722ca7e33,0,0,NaN,white,nonhispanic,M,Lynnfield,Essex County,1940.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,6732e6fc-f8f3-4b1a-924a-47f68f19526c,1,1,M,white,nonhispanic,F,Worcester,Worcester County,1602.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4772a573-1fb1-49ec-be86-dc2c4b176052,1,1,M,white,nonhispanic,M,Lawrence,Essex County,1843.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,edb75aa7-7b67-48ce-9990-0095cd7a3b8d,1,1,S,white,nonhispanic,M,Lawrence,Essex County,1840.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,e28f36cd-c8d8-4c64-94e7-91c89d1be9d1,1,1,M,white,nonhispanic,M,Springfield,Hampden County,1151.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [335]:
#train covid only for the models

In [336]:
# lesson on random forest for predictions and explainability
#partial dependence plots
#lime to explain predictions!
#Pvalues demographics r

In [337]:
train_no_test.drop(columns = drop, inplace=True)
train_no_test.to_csv('train_no_test.csv', index=False)

In [338]:
#df['date_delta'] = (df['date'] - df['date'].min())  / np.timedelta64(1,'D')